.img-cl{
    margin-top: -30px !important;
    border-radius: 49px;
    width: 64px;
    height: 61px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    color: #306dd8;
}
.example-full-width{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
span{
    color: #306dd8;

}

ion-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 129px;
    height: 75px;

  }

.cl-content{
    width: 156px;
    line-height: 26px;
    margin-top: 13px;
    font-size: 14px;
}

mat-card{
    background: #E5E3E3;
}


.msg{
    height: 100%;
    margin-top: 15px;
    width: 100%;
  }