h2{
    text-align: center;
    color: #ea4d4f;
}

p{
    width: 86%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 24%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}