<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>
          Ajoutez des personnes que vous souhaitez dans votre cercle
        </h2>
      </ion-col>

      <ion-col size="12">
        <p>
          Teepzy utilise les numéros de téléphone de votre carnet d'adresses pour vous aider à choisir, ajouter des
          personnes à votre cercle
        </p>
      </ion-col>
      <ion-col size="12">
        <img src="../../assets/information.png" alt="">
      </ion-col>
      <ion-col size="12">

        <p>
          <h3> 1. INFORMATIONS QUE NOUS RECUEILLONS</h3>
          <p>Nous recueillons les types d’informations suivants.</p>
          <p>
            Autorisez l'accès à vos contacts et à vos images/vidéos pour profiter pleinement de toutes les
            fonctionnalités
            de Teepzy.
          </p>
         <p> Informations que vous nous fournissez directement :</p>

          <p>
              votre nom d’utilisateur, votre mot de passe, votre adresse e-mail et votre numéro de téléphone lorsque vous
              vous inscrivez pour créer un compte TeepZy ;
              les informations que vous nous fournissez pour créer votre profil d’utilisateur (notamment votre nom, votre
              prénom, votre photo et votre numéro de téléphone). Ces données nous permettent d’aider les Personnes qui
              utilisent le Service à se trouver mutuellement sur TeepZy ;
              le Contenu d’utilisateur (photos, commentaires et autres supports) que vous publiez sur le Service ;
              les communications entre TeepZy et vous-même. Il peut s’agir par exemple d’e-mails de notre part, en rapport
              avec le Service (vérification du compte, modifications et mises à jour des fonctionnalités du Service, avis
              techniques et de sécurité, etc.). Veuillez noter que vous ne pouvez pas refuser de recevoir ce type de
              messages.
              Retrouver vos TeepZers sur TeepZy :
          </p>
          <ul>
            <li>
              Si vous le désirez, vous pouvez utiliser la fonctionnalité Rechercher des TeepZers pour trouver d’autres
              personnes possédant un compte TeepZy, par le biais (i) de votre liste de contacts, (ii) de sites de
              réseaux
              sociaux tiers ou (iii) d’une recherche parmi les noms et noms d’utilisateurs sur TeepZy.


            </li>
            <li>
              Si vous choisissez de rechercher vos TeepZers au moyen de (i) la liste de contacts de votre appareil,
              TeepZy
              accède à vos contacts afin de déterminer si l’un d’entre eux utilise TeepZy.

            </li>
            <li>
              Si vous choisissez de rechercher vos TeepZers par le biais d’un (ii) site de réseau social tiers, vous
              êtes
              invité(e) à créer un lien vers ce service tiers et vous acceptez que toute information que ce service peut
              nous fournir soit régie par la présente Politique de confidentialité.

            </li>
            <li>
              Si vous choisissez de rechercher vos TeepZers grâce (iii) à leurs noms ou noms d’utilisateur sur TeepZy,
              il
              vous suffit de saisir les noms qui vous intéressent et nous lançons une recherche sur notre Service.
              Remarque sur la fonctionnalité Invitez vos TeepZers : si vous choisissez d’inviter une personne sur le
              Service
              en utilisant la fonctionnalité Invitez vos TeepZers, vous pouvez sélectionner cette personne directement
              dans
              vos contacts sur votre appareil et lui envoyer un texto depuis votre compte personnel. Vous comprenez et
              acceptez le fait que vous êtes responsable des éventuels frais qui s’appliquent aux communications
              envoyées
              depuis votre appareil. Comme ce type d’invitation provient directement de votre compte personnel, TeepZy
              n’a
              pas accès à ces communications et ne les contrôle pas.

            </li>
          </ul>

          <p>
            Nous ne sauvegardons pas ni vos contacts ni vos images ou vidéos sur nos serveurs
            <h3> 2. UTILISATION DE VOS DONNÉES PERSONNELLES
            </h3>
            <span>En plus des cas d’utilisation spécifiques décrits dans la présente Politique de confidentialité, il
              est possible que nous utilisions les données que nous recevons aux fins suivantes :
            </span>
            <ul>
              <li>
                vous aider à accéder efficacement à vos données personnelles après votre connexion ;
              </li>
              <li>
                mémoriser vos données personnelles pour vous éviter d’avoir à les saisir de nouveau pendant votre visite
                ou à l’occasion de vos prochaines visites sur le Service ;

              </li>
              <li>
                vous fournir, à vous et à des tiers, du contenu et des informations personnalisés ;

              </li>
              <li>
                assurer, améliorer, tester et contrôler l’efficacité de notre Service ;

              </li>
              <li>
                développer et tester de nouveaux produits et fonctionnalités ;
              </li>
              <li>
                surveiller différents indicateurs (notamment sur le nombre total de visiteurs, la fréquentation et des
                schémas démographiques) ;

              </li>
              <li>
                diagnostiquer ou résoudre des problèmes techniques ;

              </li>
              <li>
                automatiquement mettre à jour l’application TeepZy sur votre appareil.

              </li>
              <li>
                TeepZy ou d’autres Personnes qui utilisent le Service peuvent organiser des concours, des offres
                spéciales ainsi que d’autres activités et évènements spéciaux (les « Évènements ») sur le Service. Si
                vous ne souhaitez pas participer à un Évènement, n’utilisez pas les métadonnées (les balises Hash ou
                balises géographiques) qui lui sont associées.

              </li>
            </ul>

            <p>
              Nous n'enverrons pas de spams à votre cercle et n'ajouterons personne automatiquement
            </p>
            <p>
              Consultez notre <a routerLink="/privacy">
                Politique de confidentialité
              </a> pour en savoir plus
            </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-button (click)="requestPermissions()" expand="full">Continuer</ion-button>
</ion-footer>