<ion-header class="ion-no-border">
  <ion-toolbar style="color: #ea4e50">
    <ion-title>Mes amis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
        <!--  tabs aprt -->
        <ion-row>
            <ion-col size="12">
              <input class="input-s" type="text" name="searchValue" [(ngModel)]='search'
                 placeholder="Rechercher...">
            </ion-col>
          </ion-row>
  </ion-grid>

  <div class="item-wrapper" >

    <span *ngIf="!loading && members?.length == 0">
      Aucun ami pour le moment
    </span>
      <ion-spinner *ngIf="loading && members?.length == 0" color="primary"  name="dots"></ion-spinner>
    <ion-item *ngFor="let m of members| filter:search ;trackBy: trackByFn ">
      <div *ngIf="m?.photo =='' || m?.photo == null" class="round-img-post">
        {{m?.pseudoIntime | slice:0:1| uppercase}} 
      </div>
      <img *ngIf="m?.photo" [src]="m?.photo" alt="">
      <ion-label><b> {{m?.pseudoIntime}} </b> <br>
        <strong>
        {{m?.circleMembersCount}} contacts
      </strong> <b style="float: right;" class="time"> 
     
      </b><br>
        <button class="mat-header-btn" mat-button [matMenuTriggerFor]="menu">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="removeFromCircle(m?._id)" mat-menu-item>Supprimer</button>
        </mat-menu>
      </ion-label><br>
     
    </ion-item>



  </div>
</ion-content>
