<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <span class="title-wrapper">
      <ion-icon (click)="goToFeed()" *ngIf="previousRoute" name="arrow-back">
      </ion-icon>
      <ion-title>{{'EDIT_PROFILE'| translate}}</ion-title>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div>
      <ion-avatar *ngIf="dispImags?.length > 0">
        <ion-img
          class="round-img-profile"
          *ngFor="let img of dispImags"
          [src]="img"
        ></ion-img>
      </ion-avatar>

      <div *ngIf="dispImags?.length == 0" class="round-img" >
        {{user?.pseudoIntime | slice:0:1| uppercase}}
      </div>
      <!-- fab placed to the bottom end -->
      <ion-fab
        (click)="selectImage()"
        vertical="center"
        horizontal="center"
        slot="fixed"
      >
        <ion-fab-button color="light">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
  <div
    class="”mat-content”"
    (touchstart)="swipe2($event, 'start')"
    (touchend)="swipe2($event, 'end')"
  >
    <mat-tab-group [(selectedIndex)]="selectedTab" mat-align-tabs="center">
      <mat-tab
        class="mat-tab-2"
        style="margin-left: 128px"
        [label]="'@' + user?.pseudoIntime"
      >
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="required-text">{{'REQUIRED_FIELDS'| translate}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <form class="example-form">
                <span>
                  <mat-form-field class="rs-input-left">
                    <mat-label>{{'MY_MEDIA'| translate}}</mat-label>
                    <mat-select
                      [(ngModel)]="media2"
                      (ngModelChange)="media2"
                      name="media2"
                    >
                      <mat-option *ngFor="let s of socials" [value]="s">
                        <ion-icon
                          *ngIf="s.nom !== 'tiktok'"
                          class="rs-btn"
                          [name]="s.icon"
                        ></ion-icon>
                        <img
                          class="tiktok-logo"
                          *ngIf="s.nom === 'tiktok'"
                          [src]="s.icon"
                          alt=""
                        />
                        <span> {{s.nom}} </span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="rs-input-right">
                    <mat-label *ngIf="media2?.icon !== 'logo-whatsapp'"
                      >PSEUDO</mat-label
                    >
                    <mat-label *ngIf="media2?.icon === 'logo-whatsapp'"
                      >{{'PHONE'| translate}}</mat-label
                    >
                    <input
                      matInput
                      [(ngModel)]="rs_url2"
                      name="rs_url2"
                      [placeholder]="media2?.icon !== 'logo-whatsapp'? 'PSEUDO': 'NUMERO'"
                    />
                  </mat-form-field>
                  <span style="margin-bottom: 12px">
                    <ion-chip
                      class="social-chip-main"
                      *ngFor="let so of socialsAdde2"
                    >
                      <ion-label class="social-chip" color="primary">
                        <ion-icon class="rs-btn" [name]="so?.icon"></ion-icon>
                        {{so?.nom}}
                      </ion-label>
                      <mat-icon
                        class="mat-con-cancel"
                        (click)="remove3(so)"
                        *ngIf="removable2"
                        >cancel</mat-icon
                      >
                    </ion-chip>
                    <button
                      [disabled]="rs_url2 == ''|| media2 == ''"
                      (click)="addSocialProfile2()"
                      class="shadow-none mat-add-circle"
                      mat-button
                    >
                      <span class="material-icons"> add_circle </span>
                    </button>
                  </span>
                </span>

                <mat-form-field class="example-full-width">
                  <mat-label>PSEUDO</mat-label>
                  <input
                    matInput
                    disabled
                    name="nom2"
                    [(ngModel)]="profile1.pseudoIntime"
                    maxlength="10"
                    placeholder=""
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label class="req-input"
                    >{{'PROFESSION'| translate}}
                  </mat-label>
                  <span style="margin-right: 84%" class="star">*</span>
                  <input
                    matInput
                    name="metier2"
                    #metier="ngModel"
                    type="text"
                    maxlength="50"
                    [(ngModel)]="profile1.metier"
                    [placeholder]="'PROFESSION'| translate"
                    (ngModelChange)="profile1.metier = $event + ''"
                  />
                </mat-form-field>
                <div class="limitCounter">
                  {{profile1?.metier?.length}} / 50
                </div>

                <mat-form-field class="example-full-width">
                  <mat-label> {{'YOUR_CITY'| translate}} </mat-label>
                  <input
                    matInput
                    name="localisation2"
                    #localisation="ngModel"
                    [(ngModel)]="profile1.localisation"
                    [placeholder]="'LOCATION'| translate"
                  />
                </mat-form-field>

                <mat-form-field class="example-form-field">
                  <mat-label></mat-label>
                  <input
                    matInput
                    name="biolabel"
                    [placeholder]="'EDIT_HERE_TEXT'| translate"
                    [disabled]="!isEditableB"
                    class="input-label req-input"
                    [(ngModel)]="profile1.bioLabel"
                  />
                  <button
                    mat-button
                    (click)="presentAlertConfirm()"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                  >
                    <mat-icon class="mode_edit">mode_edit</mat-icon>
                  </button>
                </mat-form-field>
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons"> info </span>
                </button>

                <mat-menu style="padding-left: 12px" #menu="matMenu">
                  <span> {{'EDIT_HERE_TEXT'| translate}} </span>
                </mat-menu>

                <mat-form-field class="example-full-width star-input">
                  <span class="star">*</span>
                  <input
                    matInput
                    name="bio"
                    #bio="ngModel"
                    type="text"
                    [(ngModel)]="profile1.bio"
                    [placeholder]="'EDIT_HERE_CONTENT'| translate"
                  />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>{{'WEBSITE'| translate}}</mat-label>
                  <input
                    matInput
                    name="siteweb2"
                    [(ngModel)]="profile1.siteweb"
                  />
                </mat-form-field>

                <mat-form-field>
                  <input
                    matInput
                    name="label"
                    [disabled]="!isEditableH"
                    maxlength="26"
                    placeholder=""
                    class="input-label req-input"
                    [(ngModel)]="profile1.tagsLabel"
                  />
                  <button
                    mat-button
                    (click)="presentAlertConfirmH()"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                  >
                    <mat-icon class="mode_edit">mode_edit</mat-icon>
                  </button>
                </mat-form-field>
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons"> info </span>
                </button>
                <mat-menu style="padding-left: 12px" #menu="matMenu">
                  <span> {{'EDIT_HERE_TEXT'| translate}} </span>
                </mat-menu>

                <mat-form-field class="example-chip-list">
                  <span class="star">*</span>
                  <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip
                      *ngFor="let tag of tags"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove1(tag)"
                      required
                    >
                      {{tag}}
                      <mat-icon matChipRemove *ngIf="removable"
                        >cancel</mat-icon
                      >
                    </mat-chip>
                    <mat-chip class="add-mat-chip">
                      {{'ADD'| translate}}
                      <mat-icon
                        (click)="add($event)"
                        style="width: 30px; height: 18px"
                        matChipRemove
                        >add_circle</mat-icon
                      >
                    </mat-chip>
                    <input
                      [matChipInputFor]="chipList"
                      type="text"
                      required
                      [placeholder]="'EDIT_HERE_CONTENT'| translate"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)"
                    />
                  </mat-chip-list>
                </mat-form-field>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </mat-tab>
    </mat-tab-group>
  </div>
</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      (click)="uploadImage()"
      [disabled]="tags?.length === 0 || metier.errors?.required || bio.errors?.required"
      expand="full"
    >
      <span *ngIf="loading == false">{{'SAVE'| translate}}</span>
      <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
    </ion-button>
  </ion-toolbar>
</ion-footer>
