<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>EDITER LE PROFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="banner">
    <div>
      <div *ngIf="dispImags?.length > 0">
        <img class="add-photo" *ngFor="let img of dispImags" [src]="img" alt="">
      </div>

      <div *ngIf="dispImags?.length == 0" class="round-img"
        [ngStyle]="{'color': p?.backgroundColor == '#fff' ? 'black' : 'white' }">
        {{user?.pseudoIntime | slice:0:1| uppercase}}
      </div>
      <!-- fab placed to the bottom end -->
      <ion-fab (click)="selectImage()" vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button color="light">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
  <div class=”mat-content” (touchstart)="swipe2($event, 'start')" (touchend)="swipe2($event, 'end')">
    <mat-tab-group [(selectedIndex)]="selectedTab" mat-align-tabs="center">
      <mat-tab (click)="switchTab2()" class="mat-tab-2" style=" margin-left: 128px;" [label]="'@' + user?.pseudoIntime">
        <ion-grid>
          <ion-row>
            <ion-col>
              <form class="example-form">
                <span>
                  <mat-form-field class="rs-input-left">
                    <mat-label>MES APPLIS</mat-label>
                    <mat-select [(ngModel)]="media2" name="media2">
                      <mat-option *ngFor="let s of socials" [value]="s">
                        <ion-icon class="rs-btn" [name]="s.icon"></ion-icon>
                        {{s.nom}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="rs-input-right">
                    <mat-label>URL</mat-label>
                    <input matInput [(ngModel)]="rs_url2" name="rs_url2" placeholder="URL">
                  </mat-form-field>
                  <span style="margin-bottom: 12px;">
                    <ion-chip *ngFor="let so of socialsAdde2">
                      <ion-label color="primary">
                        <ion-icon class="rs-btn" [name]="so?.icon"></ion-icon>
                        {{so?.nom}}
                      </ion-label>
                      <mat-icon class="mat-con-cancel" (click)="remove3(so)" *ngIf="removable2">cancel</mat-icon>

                    </ion-chip>
                    <!--span *ngIf="socialsAdded?.length == 0" >Ajouter un média</span-->
                    <button [disabled]="rs_url2 == ''|| media2 == ''" (click)="addSocialProfile2()"
                      class="shadow-none mat-add-circle" mat-button>
                      <span class="material-icons">
                        add_circle
                      </span>
                    </button>
                  </span>
                </span>

                <mat-form-field class="example-full-width">
                  <mat-label>PSEUDO</mat-label>
                  <input matInput disabled name="nom2" [(ngModel)]="profile1.pseudoIntime" placeholder="NOM">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>MÉTIER</mat-label>
                  <input matInput name="metier2" [(ngModel)]="profile1.metier" placeholder="MÉTIER">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>LOCALISATION</mat-label>
                  <input matInput name="localisation2" [(ngModel)]="profile1.localisation" placeholder="LOCALISATION">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>BIO</mat-label>
                  <input matInput name="bio" [(ngModel)]="profile1.bio" placeholder="BIO">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>SITE WEB</mat-label>
                  <input matInput name="siteweb2" [(ngModel)]="profile1.siteweb" placeholder="SITE WEB">
                </mat-form-field>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                      (removed)="remove1(tag)">
                      {{tag}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <mat-chip>
                      Ajouter
                      <mat-icon (click)="add($event)" style="    width: 30px;
                    height: 18px;" matChipRemove>add_circle</mat-icon>
                    </mat-chip>
                    <input placeholder="HOBBIES" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)">
                  </mat-chip-list>
                </mat-form-field>

                <!--span *ngIf="socialsAdded?.length == 0" >Ajouter un média</span-->
                <!--button [disabled]="tags.length == 0" (click)="add($event)" class=" mat-add-circle" mat-button>
                  <span class="material-icons">
                    add_circle
                  </span>
                </button-->
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </mat-tab>
      <!--mat-tab (click)="switchTab1()" [label]="'@' + user?.pseudoPro">
        <ion-grid>
          <ion-row>
            <ion-col>
              <form class="example-form">
                <span>
                  <mat-form-field class="rs-input-left">
                    <mat-label>MES APPLIS</mat-label>
                    <mat-select [(ngModel)]="media" name="media">
                      <mat-option *ngFor="let s of socials" [value]="s">
                        <ion-icon class="rs-btn" [name]="s.icon"></ion-icon>
                        {{s.nom}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="rs-input-right">
                    <mat-label>URL</mat-label>
                    <input matInput [(ngModel)]="rs_url" name="rs_url" placeholder="URL">
                  </mat-form-field>
                  <span style="margin-bottom: 12px;">
                    <ion-chip *ngFor="let so of socialsAdded">
                      <ion-label color="primary">
                        <ion-icon class="rs-btn" [name]="so?.icon"></ion-icon>
                        {{so?.nom}}
                      </ion-label>
                      <mat-icon class="mat-con-cancel" (click)="remove(so)" *ngIf="removable2">cancel</mat-icon>
                    </ion-chip>
                    <button [disabled]="rs_url == ''|| media == ''" (click)="addSocial()" class=" mat-add-circle"
                      mat-button>
                      <span class="material-icons">
                        add_circle
                      </span>
                    </button>
                  </span>
                </span>



                <mat-form-field class="example-full-width">
                  <mat-label>PSEUDO PROFESSIONNEL</mat-label>
                  <input matInput disabled name="nom" [(ngModel)]="profile1.pseudoPro" placeholder="NOM">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>MÉTIER</mat-label>
                  <input matInput name="metier" [(ngModel)]="profile1.metier" placeholder="MÉTIER">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>LOCALISATION</mat-label>
                  <input matInput name="localisation" [(ngModel)]="profile1.localisation" placeholder="LOCALISATION">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>BIO</mat-label>
                  <input matInput name="bio" [(ngModel)]="profile1.bio" placeholder="BIO">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>SITE WEB</mat-label>
                  <input matInput name="siteweb" [(ngModel)]="profile1.siteweb" placeholder="SITE WEB">
                </mat-form-field>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipList1 aria-label="Fruit selection">
                    <mat-chip *ngFor="let tag of tags1" [selectable]="selectable1" [removable]="removable1"
                      (removed)="remove1(tag)">
                      {{tag}}
                      <mat-icon matChipRemove *ngIf="removable1">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="TAGS" [matChipInputFor]="chipList1"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes1" [matChipInputAddOnBlur]="addOnBlur1"
                      (matChipInputTokenEnd)="add1($event)">
                  </mat-chip-list>
                </mat-form-field>
                <button [disabled]="tags1.length == 0" (click)="add1($event)" class=" mat-add-circle" mat-button>
                  <span class="material-icons">
                    add_circle
                  </span>
                </button>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </mat-tab-->

    </mat-tab-group>
  </div>

  <input class="modal-state" id="modal-2" type="checkbox" />
  <div *ngIf="showModal == 'visible'" class="modal">
    <label class="modal__bg" for="modal-2"></label>
    <div class="modal__inner">
      <label (click)="shwModal()" class="modal__close" for="modal-2"></label>
      <h2 style="font-size: 20px;font-weight: 200;">Choisir un avatar</h2>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/1.png')" mat-button>
            <img src="https://www.teepzy.com/1.png" alt="" />
          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/1.png' " class="material-icons check">
            check
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/2.png')" mat-button>
            <img src="https://www.teepzy.com/2.png" alt="" />
          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/2.png'" class="material-icons check">
            check
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/3.png')" mat-button>
            <img src="https://www.teepzy.com/3.png" alt="" />

          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/3.png' " class="material-icons check">
            check
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/4.png')" mat-button>
            <img src="https://www.teepzy.com/4.png" alt="" />

          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/4.png' " class="material-icons check">
            check
          </span>

        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/5.png')" mat-button>
            <img src="https://www.teepzy.com/5.png" alt="" />

          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/5.png' " class="material-icons check">
            check
          </span>

        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/6.png')" mat-button>
            <img src="https://www.teepzy.com/6.png" alt="" />

          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/6.png' " class="material-icons check">
            check
          </span>
        </mat-grid-tile>
      </mat-grid-list>


      <div>
        <button (click)="selectImage()" class="mat-raised-btn" mat-raised-button>Choisir une photo</button>
      </div>


      <ion-row>

        <ion-col size="2">

        </ion-col>
        <ion-col size="8">
          <ion-button (click)="shwModal()" [disabled]="user?.photo == ''" expand="block" shape="round">
            <label class="" for="modal-2">
              Valider
            </label>
          </ion-button>

        </ion-col>
        <ion-col size="2">

        </ion-col>
      </ion-row>

    </div>
  </div>

</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>

    <ion-button (click)="uploadImage()" expand="full">
      <span *ngIf="loading == false">ENREGISTRER</span>
      <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
    </ion-button>

  </ion-toolbar>
</ion-footer>