<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>

        <!-- tabs here-->
        <mat-tab-group color="warn" >
          <mat-tab [label]=" 'Inviter  (' + listTeepzrsToInvite?.length + ')'">

            <div *ngIf="listTeepzrsToInvite?.length ==  0" style="text-align: center;
            font-size: 20px;">
              <img class="msg" src="../../assets/img/msg.jpg" alt="">
              <span>
                Aucune personne à inviter
              </span>
            </div>
            <form *ngIf="listTeepzrsToInvite?.length > 0" class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Rechercher</mat-label>
                <input [(ngModel)]="contact" name="contact" placeholder="Taper pour filtrer" matInput>
              </mat-form-field>
            </form>

            <mat-paginator *ngIf="listTeepzrsToInvite?.length > 0" [length]="listTeepzrsToInvite?.length"
              [pageSize]="pageSizeT" (page)="pageEvent = getPaginatorDataTeepzr($event)">
            </mat-paginator>
            <ion-spinner *ngIf="loading && listTeepzrsToInvite?.length ==  0 " color="primary" name="dots">
            </ion-spinner>

            <div *ngFor="let c of listTeepzrsToInvite |filter:contact | slice: lowValueT : highValueT  ;trackBy: trackByFn ">
              <ion-item *ngIf="c?.phone !== userPhone" >        
              <img alt="" [src]="c?.photo">
              <ion-label> {{ c?.prenom }} <b> {{c?.nom}} </b>
                <p>
                  {{ c?.phone }}
                </p>
              </ion-label>
              <ion-button *ngIf="!loading && c?.invited == false" (click)="presentAlertConfirm(c?._id)"
                size="small">
                <span>
                  Inviter
                </span>
                <ion-spinner *ngIf="loading" color="primary" name="dots"></ion-spinner>
              </ion-button>
              <button *ngIf="!loading  && c?.invited" (click)="cancelInvitationToJoinCircle(c?._id)" mat-stroked-button>Annuler</button>

            </ion-item>
            </div>

            <ion-row>
              <ion-col size="2">
              </ion-col>
              <ion-col size="8">
                  <ion-button style="margin-top: 71px;" routerLink="/outcircle" expand="block" shape="round">Valider</ion-button>
              </ion-col>
              <ion-col size="2">
  
              </ion-col>
          </ion-row>
          </mat-tab>

          <mat-tab [label]=" 'Inviter  (' + listContacts?.length + ')'">
            <form *ngIf="listContacts?.length > 0" class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Rechercher</mat-label>
                <input [(ngModel)]="term" name="term" placeholder="Taper pour filtrer" matInput>
              </mat-form-field>
            </form>
            <ion-list>
              <mat-paginator *ngIf="listContacts?.length > 0" [length]="listContacts?.length" [pageSize]="pageSize"
                (page)="pageEvent = getPaginatorData($event)">
              </mat-paginator>
              <ion-spinner *ngIf="loading && listContacts?.length ==  0 " color="primary" name="dots"></ion-spinner>

              <ion-item *ngFor="let c of listContacts | filter:term | slice: lowValue : highValue; trackBy: trackByFn ">
                <div class="round-bg">
                  {{c?.givenName | slice:0:1 }}
                </div>
                <ion-label> {{ c?.givenName }} <b> {{c?.familyName}} </b>
                  <p>
                    {{ c?.phone }}
                  </p>
                </ion-label>
                <div *ngIf="c?.invited  == false" (click)="sendShare(c?.phone)" class="example-button-container">
                  <button mat-mini-fab disabled color="warn" aria-label="Example icon button with a home icon">
                    <span style=" margin-left: 6px;
                        margin-bottom: 14px;" class="material-icons">
                      send
                    </span>
                  </button>
                </div>
                <div *ngIf="c?.invited" (click)="dleteInvitationSmsFromServer(c?.phone)" class="example-button-container">
                  <button mat-mini-fab style="background: green; color: white;" aria-label="Example icon button with a home icon">
                    <span class="material-icons">
                      check
                    </span>

                  </button>
                </div>

              </ion-item>

            </ion-list>


            <ion-row>
              <ion-col size="2">

              </ion-col>
              <ion-col size="8">
                <ion-button style="margin-top: 71px;" (click)="goToOutcircle()" expand="block" shape="round">Valider
                </ion-button>

              </ion-col>
              <ion-col size="2">

              </ion-col>
            </ion-row>
          </mat-tab>
        </mat-tab-group>

      </ion-col>
    </ion-row>
  </ion-grid>

  <input type="radio" name="modal" value="open" id="modal-open" class="modal-radio" />
  <div *ngIf="loading" class="modal">
    <label class="modal-label overlay">
      <input type="radio" name="modal" value="close" class="modal-radio" />
    </label>
    <div class="content">
      <div class="top">
        <h2 style=" text-align: center;"> Patientez... </h2>
      
      </div>
      <span>

          <div>
              <ion-progress-bar  type="indeterminate" reversed="true"></ion-progress-bar>
          </div>
  
      </span>
    </div>
  </div>

</ion-content>