<ion-content>
  <div class="container-update">
    <div (click)="dismiss()" class="close">
      <ion-icon name="close"></ion-icon>
    </div>
    <img src="../../assets/App installation-pana.png" alt="" />
    <div class="header">{{"UPDATE_TITLE"| translate}}</div>
    <p>{{"UPDATE_TEXT1"| translate}}</p>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border">
  <ion-toolbar>
    <div class="ion-btn">
      <ion-button
        color="primary"
        style="margin-top: 1px"
        (click)="goToStore()"
        expand="full"
      >
        <span> {{"UPDATE_NOW"| translate}} </span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
