<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Autorisations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="txt">{{'AUTH_TEXT1'| translate}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>{{'AUTH_PHOTO_TEXT'| translate}}</h5>
          <span>
            <ion-toggle
              name="nPhoto"
              [(ngModel)]="nPhoto"
              (click)="authPhotoOrNot()"
              color="primary"
            ></ion-toggle>
          </span>
          <p>{{'AUTH_PHOTO_CONTENT'| translate}}</p>
        </div>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>{{'AUTH_CONTACT_TEXT'| translate}}</h5>
          <span>
            <ion-toggle
              name="n"
              [(ngModel)]="n"
              (click)="authOrNot()"
              color="primary"
            ></ion-toggle>
          </span>
          <p>
            {{'AUTH_CONTACT_CONTENT'| translate}}
            <a routerLink="/privacy"> {{'POLICY_TEXT'| translate}} </a>
          </p>
        </div>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <!--ion-row>
      <ion-col>
        <div>
          <h5>Micro</h5>
          <p>
            Utilisez le micro pour ajouter des audios à vos conversations
          </p>
        </div>
        <mat-divider></mat-divider>

      </ion-col>
    </ion-row-->
  </ion-grid>
</ion-content>
