<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Autorisations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="txt">
          Teepzy utilise les autorisations suivantes lorsque vous utilisez l'application
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>Appareil photo</h5>
          <p>
            Utilisez votre appareil photo pour prendre des photos, des vidéos
          </p>
        </div>
        <mat-divider></mat-divider>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>Contacts</h5>
          <p>
            Vos Contacts seront importés dans les serveurs de Teepzy, afin que vous et vos
            amis puissiez vous retrouver facilement, et bénéficier ainsi d'une meilleure expérience.
            Pour en savoir plus , consultez notre <a routerLink="/privacy">
              Politique de confidentialité
            </a>

          </p>
        </div>
        <mat-divider></mat-divider>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>Micro</h5>
          <p>
            Utilisez le micro pour ajouter des audios à vos conversations
          </p>
        </div>
        <mat-divider></mat-divider>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>