<ion-content>
    <ion-grid>

        <ion-row>
            <ion-col>
                <img class="illustration" src="../../assets/img/notepad.png" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="margin-top: 51px;" size="12">
                <h3>
                    Découvrez les teepZr  parmi  vos contacts
                </h3>
            </ion-col>
            <ion-col size="2">

            </ion-col>
            <ion-col size="8">
                <ion-button style="margin-top: 71px;" routerLink="/contacts" expand="block" shape="round">Valider</ion-button>

            </ion-col>
            <ion-col size="2">

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
  <!-- Footer without a border -->
  <ion-footer class="ion-no-border">
      <ion-toolbar>
        <button  style="display: block; margin-left: auto; margin-right: auto;" routerLink="/contacts" mat-button>Passer cette étape</button>
      </ion-toolbar>
    </ion-footer>
  