img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.illustration {
  width: 64%;
}

h3 {
  text-align: center;
  color: #5d54a4;
  line-height: 37px;
}

button {
  color: #5d54a4;
}
.text-bottom {
  margin-left: 18px;
}
