img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.illustration{
    width: 35%;
}

h3{
    text-align: center;
    color: #ea4e50;
    line-height: 37px;
}

button{
     color: #ea4e50;

}
.text-bottom{
    margin-left: 18px;
}