img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.illustration{
    width: 35%;
}
mat-form-field{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    color: #ea4e50;
    line-height: 29px;
}

button{
     color: #ea4e50;

}
.text-bottom{
    margin-left: 18px;
}

ion-title{
    text-align: center;
    font-size: medium;
}

button{
    color: #ea4e50;

}

.accountButton{
    width: 50px;
}

h3{
    text-align: center;
    color: #050505;
    line-height: 20px;
    font-size: 14px;
}
ion-grid{
    min-height: 100%;
    background: url('../../assets/img/neutral.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}