<ion-content class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="example-form">
        <mat-form-field class="login__field">
          <mat-label>
            <ion-icon name="person" class="login__icon"></ion-icon
            >{{'USER_INFO.EMAIL_ADDRESS' | translate}}</mat-label
          >

          <input
            matInput
            class="login__input"
            type="email"
            name="email"
            #email="ngModel"
            required
            [(ngModel)]="user.email"
            placeholder=""
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>
            <ion-icon name="lock-closed-outline" class="login__icon"></ion-icon
            >{{'USER_INFO.PASSWORD' | translate}}</mat-label
          >
            <input
            class="login__input"
            matInput
            [type]="hideC ? 'text':  'password' "
            name="password"
            #password="ngModel"
            required
            [(ngModel)]="user.password"
            placeholder=""
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideC = !hideC"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideC"
          >
            <ion-icon name="{{ hideC ? 'eye-outline' : 'eye-off-outline' }}"></ion-icon>
          </button>
        </mat-form-field>
        <button
          class="button login__submit"
          (click)="auth()"
          expand="block"
          shape="round"
          style="width: 100%"
        >
          <span class="button__text"> {{'LOG' | translate}}</span>
          <ion-icon
            name="chevron-forward-outline"
            class="button__icon"
          ></ion-icon>
        </button>
      </form>
      <button routerLink="/forgot-pass" mat-button class="forgot-pass">
        <span class="button__text" style="color: #7875b5"
          >{{ 'PWD_FORGOT1' | translate }}</span
        >
        <span class="button__text" style="color: white"
          >{{ 'PWD_FORGOT2' | translate }}</span
        >
      </button>
      <div class="social-login">
        <h4>{{ 'ENVY_TEEPR' | translate }}</h4>
        <div class="social-icons">
          <button
            class="registerButton"
            expand="block"
            shape="round"
            routerLink="/signup"
            mat-button
          >
            <span class="button__text"> {{ 'REGISTER' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</ion-content>
