<ion-content>
  <ion-grid>

      <ion-row>
          <ion-col>
              <img class="illustration" src="../../assets/img/Illustration 8 _Plan de travail 1-08.png" alt="">
          </ion-col>
      </ion-row>
  
      <ion-row>
          <ion-col style="margin-top: 21px;" size="12">
              <h3>
                  Connecte-toi à tes TeepZrs pour découvrir leurs TeepZs
              </h3>
          </ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" name="email" #email="ngModel" required [(ngModel)]="user.email" placeholder="Entrer votre email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Mot de passe</mat-label>
              <input matInput  [type]="hideC ? 'text':  'password' " name="password" #password="ngModel" required [(ngModel)]="user.password" placeholder="">
              <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
                  <mat-icon>{{hideC ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
            </mat-form-field>

  
  
          </form>
  
        </ion-col>
        <ion-col size="2">

        </ion-col>
        <ion-col size="8">
            <ion-button style="margin-top: 31px;" (click)="auth()" expand="block" shape="round">Valider</ion-button>

        </ion-col>
        <ion-col size="2">

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
         
          <button  style="display: block; margin-left: auto; margin-right: auto;" routerLink="/forgot-pass" mat-button>
            Mot de passe oublié?
          </button>

        </ion-col>
      </ion-row>

  </ion-grid>
</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
    <ion-toolbar>
      <span>
          <ion-title style="width: 390px;">
              Envie de devenir un teepZr?
            </ion-title>
            <button  style="display: block; margin-left: auto; margin-right: auto;margin-top: 59px;" routerLink="/signup" mat-button>Inscrivez-vous</button>
         
      </span>
  </ion-toolbar>
  </ion-footer>
