<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-title>LINK TO</ion-title>
    <ion-icon (click)="dismiss()" class="close-icon" name="close-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mat-content" (touchstart)="swipe2($event, 'start')" (touchend)="swipe2($event, 'end')">
  <mat-tab-group  [(selectedIndex)]="selectedTab" color="warn" mat-align-tabs="center">
    <mat-tab label="Match">
      <mat-card class="example-card cmt2">
        <mat-card-header>
          <div mat-card-avatar>
            <img mat-card-image class="mat-img"
              src="../../assets/img/man-wearing-black-and-white-stripe-shirt-looking-at-white-212286.jpg" alt="">
          </div>
          <mat-card-title style="color: #ea4e50;">Enock JOULA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="content-comment" style="color: #ea4e50;">
            Nom du Cercle
          </p>
          <button class="btn-icon star-btn check-btn" mat-button aria-label="Example icon button with a home icon">

            <div class="pretty p-icon p-round p-pulse">
              <input type="checkbox" />
              <div class="state p-success">
                <i class="icon mdi mdi-check"></i>
                <label></label>
              </div>
            </div>
          </button>
        </mat-card-content>

      </mat-card>
      <mat-card class="example-card cmt2">
        <mat-card-header>
          <div mat-card-avatar>
            <img mat-card-image class="mat-img"
              src="../../assets/img/man-wearing-black-and-white-stripe-shirt-looking-at-white-212286.jpg" alt="">
          </div>
          <mat-card-title style="color: #ea4e50;">Enock JOULA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="content-comment" style="color: #ea4e50;">
            Nom du Cercle
          </p>
          <button class="btn-icon star-btn check-btn" mat-button aria-label="Example icon button with a home icon">
            <div class="pretty p-icon p-round p-pulse">
              <input type="checkbox" />
              <div class="state p-success">
                <i class="icon mdi mdi-check"></i>
                <label></label>
              </div>
            </div>
          </button>
        </mat-card-content>

      </mat-card>
      <mat-card class="example-card cmt2">
        <mat-card-header>
          <div mat-card-avatar>
            <img mat-card-image class="mat-img"
              src="../../assets/img/man-wearing-black-and-white-stripe-shirt-looking-at-white-212286.jpg" alt="">
          </div>
          <mat-card-title style="color: #ea4e50;">Enock JOULA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="content-comment" style="color: #ea4e50;">
            Nom du Cercle
          </p>
          <button class="btn-icon star-btn check-btn" mat-button aria-label="Example icon button with a home icon">
            <!--span class="material-icons">
              check_circle_outline
            </span-->
            <div class="pretty p-icon p-round p-pulse">
              <input type="checkbox" />
              <div class="state p-success">
                <i class="icon mdi mdi-check"></i>
                <label></label>
              </div>
            </div>

          </button>
        </mat-card-content>

      </mat-card>
    </mat-tab>
    <mat-tab label="Recherche">

      <input class="input-s" type="text" [(ngModel)]='filtre' placeholder="filtrer...">

      <div>
          <mat-card *ngFor="let u of usersMatch| filter:filtre ;trackBy: trackByFn " (click)="addLink(u)"
          class="example-card cmt2">
          <mat-card-header>
            <div mat-card-avatar>
              <img mat-card-image class="mat-img" [src]="u?.photo" alt="">
            </div>
            <mat-card-title style="color: #ea4e50;"> {{u?.pseudoIntime}} </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!--p class="content-comment" style="color: #ea4e50;">
              Nom du Cercle
            </p-->
            <button class="btn-icon star-btn check-btn" mat-button aria-label="Example icon button with a home icon">
              <div class="pretty p-icon p-round p-pulse">
                <input [checked]="u?.match" type="checkbox" />
                <div class="state p-success">
                  <i class="icon mdi mdi-check"></i>
                  <label></label>
                </div>
              </div>
            </button>
          </mat-card-content>
        </mat-card>
  
      </div>

      <div class="not-found" *ngIf="usersMatch.length == 0">
        Aucun utilisateur à matcher à cette offre
      </div>
    </mat-tab>
  </mat-tab-group>
  </div>

</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
      <form *ngIf="usersSelected.length > 0" class="example-form">
          <input class="input-m" type="text" placeholder="XXX,Je te link avec YYY" [(ngModel)]="message">
        </form>

        <ion-button *ngIf="usersSelected.length > 0" (click)="updateProfile()" expand="full">
            <span *ngIf="!loading">ENVOYER</span>
            <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          </ion-button>
    <ion-button *ngIf="usersSelected.length == 0" (click)="dismiss()" class="cancel-btn" expand="block" size="large"
      color="medium">Annuler</ion-button>
  </ion-toolbar>
</ion-footer>