<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-title>LINK TO</ion-title>
    <ion-icon (click)="dismiss()" class="close-icon" name="close-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="closeModalOnSwipeDown($event)">
    <!--ion-refresher-content></ion-refresher-content-->
  </ion-refresher>
  <div class="mat-content" (touchstart)="swipe2($event, 'start')" (touchend)="swipe2($event, 'end')">
    <mat-tab-group [(selectedIndex)]="selectedTab" color="warn" mat-align-tabs="center">
      <mat-tab label="Match">
        <div class="item-wrapper">

          <ion-item *ngFor="let m of matches| filter:filtre ;trackBy: trackByFn " (click)="addLink(m)">
            <div *ngIf="m?.photo =='' || m?.photo == null" class="round-img-post">
              {{m?.prenom | slice:0:1| uppercase}} {{m?.nom | slice:0:1 | uppercase}}
            </div>
            <img mat-card-image class="" *ngIf="m?.photo != null" [src]="m?.photo" alt="">
            <div>
              {{m?.pseudoIntime}}
            </div>
            <ion-label>

              <ion-checkbox name="ckeck" [(ngModel)]="checkItems[m._id]" style="float: right;" color="primary">
              </ion-checkbox>

            </ion-label>
          </ion-item>



        </div>

        <div *ngIf="!matches || matches.length == 0" class="match-txt">
          Aucun match pour ce post
        </div>
      </mat-tab>
      <mat-tab label="Recherche">

        <div class="input-container">
          <input class="input-s" type="text" [(ngModel)]='filtre' placeholder="filtrer...">
        </div>

        <div class="list-container">
            <ion-item *ngFor="let u of listTeepZrs| filter:filtre ;trackBy: trackByFn " (click)="addLink(u)" >
              <div *ngIf="u?.photo =='' || u?.photo == null" class="round-img-post">
                {{u?.prenom | slice:0:1| uppercase}} {{u?.nom | slice:0:1 | uppercase}}
              </div>
              <img mat-card-image *ngIf="u?.photo" [src]="u?.photo" alt="">
              <div>
                {{u?.pseudoIntime}}
              </div>
              <ion-label>
  
                <ion-checkbox name="ckeck" [(ngModel)]="checkItems[u?._id]" style="float: right;" color="primary">
                </ion-checkbox>
  
              </ion-label>
            </ion-item>
        </div>

        <div class="not-found" *ngIf="usersMatch?.length == 0">
          Aucun utilisateur à matcher à cette offre
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</ion-content>
<!-- Footer without a border -->
<ion-footer *ngIf="usersSelected.length > 0" class="ion-no-border">
  <ion-toolbar>
    <form *ngIf="usersSelected.length > 0" class="example-form">
      <input class="input-m" type="text" name="msg" placeholder="XXX,Je te link avec YYY" [(ngModel)]="message">
    </form>

    <ion-button *ngIf="usersSelected.length > 0" (click)="linkPeople()" expand="full">
      <span *ngIf="loading == false ">ENVOYER</span>
      <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
    </ion-button>
    <!--ion-button *ngIf="usersSelected.length == 0" (click)="dismiss()" class="cancel-btn" expand="block" size="large"
      color="medium">Annuler</ion-button-->
  </ion-toolbar>
</ion-footer>