<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button (click)="unreads()" tab="tab1">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="unreads()" tab="tab2">
        <mat-icon [matBadge]="nrbrNotifications" matBadgeColor="warn">
          <ion-icon name="notifications"></ion-icon>
        </mat-icon>

    </ion-tab-button>

    <ion-tab-button>

      <div (click)="AddPostPage()" class="example-button-container">
        <!-- fab placed to the (vertical) center and start -->
        <ion-fab vertical="center" horizontal="center" slot="fixed">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </ion-tab-button>


    <ion-tab-button (click)="unreads()" tab="tab3">
      <mat-icon [matBadge]="nrbrMessages" matBadgeColor="warn">
        <ion-icon name="mail"></ion-icon>
      </mat-icon>
    </ion-tab-button>

    <ion-tab-button (click)="unreads()" tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>