 
app-snap {
    .middle-bottom {
      opacity: 0;
      transition: all 0.5s;
      transform: translateZ(0px);
    }
  
    .middle-bottom:hover {
      width: 120px;
      height: 120px;
      opacity: 1;
      transition: 0.5s;
      transform: translateZ(100px);
    }
  
    ion-fab,
    ion-fab-button {
      background-color: transparent !important;
    }
  }
  
  app-snap,
  ion-content {
    --background: transparent !important;
  }
  ////////////////////////////
  #centerBtn {
    width: 150px;
    height: 150px;
  }
  .centerBtn {
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 150px;
    left: 135px;
    display: flex;
    position: absolute;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-flow: row nowrap;
  }
  .centerBtn:hover {
    width: 125px;
    height: 125px;
    transition: 0.5s;
    transform: translateZ(125px);
  }
  .centerBtn::after {
    width: 100px;
    height: 100px;
    transition: 0.5s;
    transform: translateZ(100px);
  }
  .reverse-style {
    display: flex;
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 50px;
    right: 50px;
  }
  .flash-style {
    display: flex;
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 50px;
    left: 50px;
  }
  