<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <h3 style="margin-top: 9px; color: #306dd8" *ngIf="!showSearch">
            NOTIFICATION
          </h3>
        </ion-col>
        <ion-col>
          <div *ngIf="!showSearch" class="example-button-container">
            <button
              (click)="showSearch = true"
              class="btn-icon"
              mat-mini-fab
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span *ngIf="showSearch" style="display: flex">
            <button
              class="arrow-back-mat-button"
              (click)="showSearch = false"
              style="font-size: 29px"
              mat-button
            >
              <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
            <form class="example-form">
              <mat-form-field class="example-full-width search-input">
                <mat-label> {{'SEARCH'|translate}}</mat-label>
                <input [(ngModel)]="search" name="search" matInput />
              </mat-form-field>
            </form>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div
    class="mat-content"
    (touchstart)="swipe2($event, 'start')"
    (touchend)="swipe2($event, 'end')"
  >
    <mat-tab-group
      [(selectedIndex)]="selectedTab"
      color="warn"
      mat-align-tabs="center"
    >
      <mat-tab [label]="'TAB_ALL'|translate">
        <ion-refresher
          style="position: absolute; z-index: 2000"
          slot="fixed"
          (ionRefresh)="doRefreshNotification($event)"
        >
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-spinner
          *ngIf="loading && notifications.length ==  0 "
          color="primary"
          name="dots"
        ></ion-spinner>

        <div>
          <ion-item *ngIf="notifications?.length !== 0&&showNewListBtn">
            <ion-button
              (click)="loadDataOld()"
              class="load_more"
              expand="block"
              shape="round"
              size="small"
              fill="outline"
            >
              <span *ngIf="!loadingOld"> {{'RECENT'|translate}}</span>
              <ion-spinner
                *ngIf="loadingOld"
                color="primary"
                name="dots"
              ></ion-spinner>
            </ion-button>
          </ion-item>
          <ion-item
            *ngFor="let n of notifications;trackBy: trackByFn "
            (click)="goToElement(n?.toId, n?.icon_name, n?.roomId)"
          >
            <span style="margin-right: 24px" class="material-icons">
              {{n?.icon_name}}
            </span>

            <div
              class="round-img-post"
              *ngIf="userId != n?.fromId && n?.retourLink == false"
            >
              {{n?.pseudoIntime | slice:0:1| uppercase}}
            </div>

            <div
              class="round-img-post"
              *ngIf="userId != n?.fromId && n?.retourLink == true"
            >
              {{n?.linkerUserPseudo | slice:0:1| uppercase}}
            </div>
            <ion-label>
              <b *ngIf="userId != n?.fromId && n?.retourLink == false">
                {{n?.pseudoIntime}}
              </b>
              <b *ngIf="userId != n?.fromId && n?.retourLink == true">
                {{n?.linkerUserPseudo}}
              </b>

              <span class="time" *ngIf="language==='en'">
                {{time(n?.createdAt) }}
              </span>
              <span
                *ngIf="time(n?.createdAt) != 'il y a un mois'&&language==='fr'"
              >
                <span
                  *ngIf="time(n?.createdAt) != 'il y a un jour'&&language==='fr'"
                >
                  <span
                    *ngIf="time(n?.createdAt) != 'il y a une minute'&&language==='fr'"
                  >
                    <span
                      class="time"
                      *ngIf="time(n?.createdAt) != 'il y a une heure'&&language==='fr'"
                    >
                      {{time(n?.createdAt) }}
                    </span>
                  </span>
                </span>
              </span>
              <span
                class="time"
                *ngIf="time(n?.createdAt) == 'il y a une minute'&&language==='fr'"
              >
                il y a 1 minute
              </span>
              <span
                class="time"
                *ngIf="time(n?.createdAt) == 'il y a une heure'&&language==='fr'"
              >
                il y a 1 heure
              </span>
              <span
                class="time"
                *ngIf="time(n?.createdAt) == 'il y a un jour'&&language==='fr'"
              >
                il y a 1 jour
              </span>
              <span
                class="time"
                *ngIf="time(n?.createdAt) == 'il y a un mois'&&language==='fr'"
              >
                il y a 1 mois
              </span>

              <b *ngIf="userId == n?.fromId"> {{'YOU'|translate}} </b><br />
              <strong>
                <span *ngIf="userId != n?.fromId"></span>
                <span *ngIf="userId == n?.fromId">{{'HAVE'|translate}}</span>

                <span *ngIf="n?.icon_name !== 'message'">
                  {{n?.message}}
                  <br /><span *ngIf="userId != n?.fromId"
                    >@{{n?.pseudoIntime}}</span
                  >
                </span>
                <span
                  *ngIf="n?.icon_name === 'message' && n?.fromId !== userId"
                >
                  {{'NEW_MESSAGE'|translate}}
                </span>

                <span
                  *ngIf="n?.icon_name === 'message' && n?.fromId === userId"
                >
                  {{'RESPONSE_MESSAGE'|translate}}
                </span>
              </strong>
            </ion-label>
            <span
              class="see-icon"
              *ngIf="n?.icon_name == 'link'"
              (click)="goToDetailTeepz(n?.postId)"
            >
              <button mat-button>
                <ion-icon name="eye-outline"></ion-icon>
              </button>
            </span>
          </ion-item>
          <ion-item *ngIf="notifications?.length !== 0 && showOldListBtn">
            <ion-button
              (click)="loadData()"
              class="load_more"
              expand="block"
              shape="round"
              size="small"
              fill="outline"
            >
              <span *ngIf="!loadingOld"> {{'OLDEST'|translate}}</span>
              <ion-spinner
                *ngIf="loadingOld"
                color="primary"
                name="dots"
              ></ion-spinner>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="notifications?.length !== 0"></ion-item>

          <div
            *ngIf="loading == false && notifications?.length == 0"
            class="empty-msg"
          >
            <span class="material-icons drafts"> notifications </span><br />
            <span>{{'NO_NOTIFICATIONS'|translate}}</span>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'MENTION'|translate">
        <ion-refresher
          style="position: absolute; z-index: 2000"
          slot="fixed"
          (ionRefresh)="doRefreshNotification($event)"
        >
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <div>
          <!--ion-item>
                <ion-icon color="primary" name="chatbubble"></ion-icon>
                <img alt="" src="../../assets/img/man-wearing-black-and-white-stripe-shirt-looking-at-white-212286.jpg">
                <ion-label><b> CHRISMAL </b><br>
                  <strong>
                    XXX vous linké avec YYY
                  </strong>
                </ion-label>
              </ion-item-->

          <ion-item
            *ngFor="let n of mentions?.reverse();trackBy: trackByFn "
            (click)="goToElement(n?.toId, n?.icon_name, n?.roomId)"
          >
            <!--span-- style="margin-right: 24px;" class="material-icons">
              {{n?.icon_name}}
            </!--span-->
            <div class="round-img-post" *ngIf="userId !== n?.fromId">
              {{n?.pseudoIntime | slice:0:1| uppercase}}
            </div>

            <ion-label>
              <b *ngIf="userId != n?.fromId"> {{n?.pseudoIntime}} </b>

              <span class="time" *ngIf="language==='en'">
                {{time(n?.createdAt) }}
              </span>
              <span
                *ngIf="time(n?.createdAt) != 'il y a un mois'&&language==='fr'"
              >
                <span
                  *ngIf="time(n?.createdAt) != 'il y a un jour'&&language==='fr'"
                >
                  <span
                    *ngIf="time(n?.createdAt) != 'il y a une minute'&&language==='fr'"
                  >
                    <span
                      class="time"
                      *ngIf="time(n?.createdAt) != 'il y a une heure'&&language==='fr'"
                    >
                      {{time(n?.createdAt) }}
                    </span>
                  </span>
                </span>
              </span>
              <span
                class="time"
                *ngIf="time(n?.createdAt) == 'il y a une minute'&&language==='fr'"
              >
                il y a 1 minute
              </span>
              <span
                class="time"
                *ngIf="time(n?.createdAt) == 'il y a une heure'&&language==='fr'"
              >
                il y a 1 heure
              </span>
              <span
                class="time"
                *ngIf="time(n?.createdAt) == 'il y a un jour'&&language==='fr'"
              >
                il y a 1 jour
              </span>
              <span
                class="time"
                *ngIf="time(n?.createdAt) == 'il y a un mois'&&language==='fr'"
              >
                il y a 1 mois
              </span>
              <br />
              <strong>
                <span class="mention-message-txt"> {{n?.message}} </span>
              </strong>
            </ion-label>
            <span
              class="see-icon"
              *ngIf="n?.type == 'MENTION'"
              (click)="goToDetailTeepz(n?.toId)"
            >
              <button mat-button>
                <ion-icon name="eye-outline"></ion-icon>
              </button>
            </span>
          </ion-item>

          <div *ngIf="mentions.length === 0" class="empty-msg">
            <span class="material-icons drafts"> record_voice_over </span><br />
            <span>{{'NO_MENTION'| translate}}</span>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'INVITATION'| translate">
        <ion-refresher
          style="position: absolute; z-index: 2000"
          slot="fixed"
          (ionRefresh)="doRefreshInvitation($event)"
        >
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div>
          <ion-item *ngFor="let i of invitations;trackBy: trackByFn ">
            <div class="round-img-post">
              {{i?.pseudo | slice:0:1| uppercase}}
            </div>
            <ion-label
              ><b> {{i?.pseudo}} </b><br />
              <span style="font-size: 11px"> {{time(i?.createdAt) }} </span>
              <br />
              <div class="example-button-row">
                <button
                  class="btn-accent"
                  (click)="acceptInvitation(i)"
                  mat-raised-button
                  color="accent"
                >
                  <span *ngIf="!loading"> {{'ACCEPT'| translate}} </span>
                  <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
                </button>
              </div>
            </ion-label>
          </ion-item>
        </div>

        <div>
          <ion-item *ngFor="let i of invitationsSms;trackBy: trackByFn ">
            <div class="round-img-post">
              {{i?.pseudo | slice:0:1| uppercase}}
            </div>
            <ion-label
              ><b> {{i?.pseudo}} </b><br />
              <span style="font-size: 11px"> {{time(i?.createdAt) }} </span>
              <br />
              <div class="example-button-row">
                <button
                  class="btn-accent"
                  (click)="acceptInvitation(i)"
                  mat-raised-button
                  color="accent"
                >
                  <span *ngIf="!loading"> {{'ACCEPT'| translate}} </span>
                  <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
                </button>
              </div>
            </ion-label>
          </ion-item>
        </div>

        <div>
          <ion-item
            *ngFor="let i of links;trackBy: trackByFn "
            (click)="presentActionSheet(i)"
          >
            <div class="round-img-post">
              {{i?.pseudo | slice:0:1| uppercase}}
            </div>
            <ion-label
              ><b> {{i?.pseudo}} </b><br />
              <span class="time" *ngIf="language==='en'">
                {{time(i?.createdAt) }}
              </span>
              <span
                *ngIf="time(i?.createdAt) != 'il y a un mois'&&language==='fr'"
              >
                <span
                  *ngIf="time(i?.createdAt) != 'il y a un jour'&&language==='fr'"
                >
                  <span
                    *ngIf="time(i?.createdAt) != 'il y a une minute'&&language==='fr'"
                  >
                    <span
                      class="time"
                      *ngIf="time(i?.createdAt) != 'il y a une heure'&&language==='fr'"
                    >
                      {{time(i?.createdAt) }}
                    </span>
                  </span>
                </span>
              </span>
              <span
                class="time"
                *ngIf="time(i?.createdAt) == 'il y a une minute'&&language==='fr'"
              >
                il y a 1 minute
              </span>
              <span
                class="time"
                *ngIf="time(i?.createdAt) == 'il y a une heure'&&language==='fr'"
              >
                il y a 1 heure
              </span>
              <span
                class="time"
                *ngIf="time(i?.createdAt) == 'il y a un jour'&&language==='fr'"
              >
                il y a 1 jour
              </span>
              <span
                class="time"
                *ngIf="time(i?.createdAt) == 'il y a un mois'&&language==='fr'"
              >
                il y a 1 mois
              </span>

              <button
                style="float: right"
                color="accent"
                class="btn-accent-link"
                mat-raised-button
              >
                {{'LINK_BTN'| translate}}
              </button>
              <br />
              <div class="example-button-row"></div>
            </ion-label>
          </ion-item>
        </div>

        <div
          *ngIf="invitations?.length == 0 && links?.length == 0 && invitationsSms?.length == 0"
          class="empty-msg"
        >
          <span class="material-icons drafts"> drafts </span><br />
          <span> {{'NO_INVITATION'| translate}}</span>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!--ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll-->
</ion-content>
