ion-title{
    color: #ea4e50;
}
ion-toolbar{
    height: 68px;
    margin-bottom: -22px;
}
ion-slide{
    border-radius: 40px 40px 1px 0px;
}
.time{
        float: right;
        position: absolute;
    right: 12px;
}
.material-icons{
    color: #ea4e50;
}
.mat-content{
    height: -webkit-fill-available;
  }
  .img{
    height: 47px;
    width: 47px;
    border-radius: 177px;
    border: solid 2px #ea4e50;
    display: block;
    margin-left: 8px;
    margin-right: 2px;
}

.load_more{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.round-img-post{
    height: 47px;
    width: 47px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: solid 1px #ea4d4f;
    padding-top: 8px;
    text-align: center;
    font-size: 13px;
    display: block;
    margin-left: 8px;
    margin-right: 12px;
    color: #000000;
}

.see-icon{
    margin-right: -35px;
    margin-top: 32px;
}
.example-button-container{
    float: right;
    margin-right: -3px;
    display: flex;
}

.example-button-row{
    margin-top: -44px;
    float: right;
}
.btn-icon{
    margin-right: 22px;

}

.btn-accent{
    background: #ea4e4f;
    color: white;
    margin-left: 17px;
}

.btn-accent-link{
    background: #ea4e4f;
    color: white;
}

mat-tab{
font-weight: bold;
}

mat-tab-group{
    margin-top: 59px;
}

.arrow-back-mat-button{
    margin-top: -27px;
}

.example-form{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

img{
    width: 49px;
    height: 49px;
    border: solid 2px #ea4e50;
    margin-right: 15px;
    margin-bottom: 18px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}
ion-icon{
    margin-right: 27px;
    margin-top: -11px;
}

b{
    color: #ea4e50;
}

ion-item{
    padding-top: 12px;
    line-height: 29px;
}

strong{
    font-size: small;
}

.empty-msg{
    text-align: center;
    background: aliceblue;
    margin-top: 71px;
    padding: 68px;
}

.drafts{
    font-size: 93px;
    
}

ion-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47px;
    height: 58px;
}