<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h3 style="margin-top: 9px;color: #ea4e50;font-size: 20px;" *ngIf="!showSearch">
            <span>
              @{{user?.pseudoIntime}}
            </span>
            <!--ion-icon name="chevron-down-outline"></ion-icon-->
          </h3>
        </ion-col>
        <ion-col>
          <div *ngIf="!showSearch" class="example-button-container">
            <button (click)="goToSearch()" class="btn-icon" mat-mini-fab
              aria-label="Example icon button with a home icon">
              <mat-icon>search</mat-icon>
            </button>
            <button (click)="goToContacts()" class="btn-icon" mat-mini-fab
              aria-label="Example icon button with a home icon">
              <mat-icon>account_circle</mat-icon>
            </button>
            <button style="text-align: center;" mat-mini-fab aria-label="Example icon button with a home icon">
              <ion-menu-button autoHide="false">
                <mat-icon>settings</mat-icon>
              </ion-menu-button>
            </button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span *ngIf="showSearch" style="display: flex;">
            <button (click)="showSearch = false" style="font-size: 29px;" mat-button>
              <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
            <form style="margin-top: 72px; margin-bottom: -41px;" class="example-form">
              <mat-form-field class="example-full-width search-input mat-form-field">
                <mat-label>Rechercher</mat-label>
                <input [(ngModel)]="search" name="search" matInput placeholder="Taper pour filtrer">
              </mat-form-field>
            </form>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>



  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides pager="false" (ionSlideDidChange)="slideChanged($event)" [options]="slideOpts">

    <ion-slide *ngIf="listPosts?.length == 0">
      <span style="color: #ea4e4f;">
        Aucune publication pour l'instant
      </span>
    </ion-slide>
    <ion-slide (click)="next()" *ngFor="let p of listPosts | filter:search ;trackBy: trackByFn "
      [ngClass]="{'ion-slide-img': p?.image_url != '', 'ion-slide-no-img': p?.image_url == ''}" [ngStyle]="{
        'color': p?.backgroundColor == '#fff' && p?.image_url == ''? 'black' : 'white', 
        'background-image':  p?.image_url != '' ? 'url(' + p?.image_url + ')' : '',
        'background-color': p?.image_url == '' ? p?.backgroundColor : 'black',
        'background-position': 'center center', 
        'background-size': 'cover', 
        'background-repeat': 'no-repeat'
      }" swipeAll (swipe)="swipeAll($event)" (swipeleft)="swipeLeft($event)" (swiperight)="swipeRight($event)">

      <div (click)="playVideo(p?.video_url)" class="post-txt">
        <div *ngIf="p?.video_url">
          <div>
            <video #videoPlayer playsinline preload="metadata">
              <source [src]="sanitizer.bypassSecurityTrustResourceUrl(p?.video_url + '#t=0.5')" type="video/mp4" />
            </video>
            <ion-grid>
              <ion-row>
                <ion-col>

                </ion-col>
                <ion-col>
                  <button *ngIf="!currentPlaying" class="play-btn" mat-button>
                    <ion-icon name="play-outline"></ion-icon>
                  </button>
                </ion-col>
                <ion-col>

                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <div class="header-slide" (click)="next()">
          <ion-grid>
            <ion-row class="infos">
              <ion-col size="12">
                <span *ngIf="p?.reposterId == userId" style="font-size: small;">
                  Vous avez partagé le teepz de
                </span>
              </ion-col>
              <ion-col *ngIf="!p?.image_url && !p?.video_url" [ngStyle]="{'background': p?.image_url ? 'rgb(0 0 0 / 18%)' : '#ffffff00',
              'font-weight': p?.image_url ? '800': '100' }">
                <div>
                  <img *ngIf="p?.userPhoto_url" class="img" [src]="p?.userPhoto_url" alt="">
                </div>

                <div>
                  <div *ngIf="p?.userPhoto_url == '' || p?.userPhoto_url == null " class="round-img"
                    [ngStyle]="{'color': p?.backgroundColor == '#fff' ? 'black' : 'white' }">
                    {{p?.userPseudo | slice:0:1| uppercase}}
                  </div>
                </div>

              </ion-col>
              <ion-col *ngIf="!p?.image_url && !p?.video_url" [ngStyle]="{'background': p?.image_url ? 'rgb(0 0 0 / 18%)' : '#ffffff00',
               'font-weight': p?.image_url ? '800': '100' }" style="    text-align: left;">
                <strong>
                  {{p?.userPseudo}}
                </strong><br>
                <small>
                  {{p?.circle || '' }}
                </small>
                <span *ngIf="time(p?.createdAt) != 'il y a un mois'">
                  <span *ngIf="time(p?.createdAt) != 'il y a un jour'">
                    <span *ngIf="time(p?.createdAt) != 'il y a une minute'">
                      <span class="time" *ngIf="time(p?.createdAt) != 'il y a une heure'">
                        {{time(p?.createdAt) }}
                      </span>
                    </span>
                  </span>
                </span>
                <span class="time" *ngIf="time(p?.createdAt) == 'il y a une minute'">
                  il y a 1 minute
                </span>
                <span class="time" *ngIf="time(p?.createdAt) == 'il y a une heure'">
                  il y a 1 heure
                </span>
                <span class="time" *ngIf="time(p?.createdAt) == 'il y a un jour'">
                  il y a 1 jour
                </span>
                <span class="time" *ngIf="time(p?.createdAt) == 'il y a un mois'">
                  il y a 1 mois
                </span>
              </ion-col>

            </ion-row>
          </ion-grid>


        </div>
        <p class="content" *ngIf="!p?.image_url && !p?.video_url"
          [ngStyle]="{'font-size': p?.content.length > 60 ? '17px' : '23px' }" (click)="next()">
          {{ p?.content }}
        </p>


        <div [ngStyle]="{'bottom': p?.image_url || p?.video_url ? '-30px' : '57px' }" class="match-img">

          <div style="display: flex;margin-top: 12px;" *ngIf="!p?.image_url && !p?.video_url">
            <span>MATCH</span>
            <span style="margin-left: 6px;" *ngFor="let m of p?.matches | slice:0:3;">
              <img class="match-image" *ngIf="m?.photo" [src]="m?.photo" alt="">
              <div class="match-pseudo" *ngIf="m?.photo == null || m?.photo"
                [ngStyle]="{'color': p?.backgroundColor == '#fff' ? 'black' : 'white' }">
                {{m?.pseudoIntime | slice:0:1| uppercase}}
              </div>

            </span>
            <span *ngIf="p?.matches?.length == 0"> 0</span>
            <span *ngIf="p?.matches?.length > 3">
              + {{p.matches?.length - 3}} </span> <br>
          </div>

          <div class="content-down" *ngIf="p?.image_url || p?.video_url"
            [ngStyle]="{'font-size': p?.content.length > 20 ? '14px' : '17px', 'color': 'white', 'font-weight': '800' }"
            (click)="next()">
            <span style="color: #ffff;margin-left: 50px !important;" *ngIf="p?.image_url || p?.video_url">
              <strong>
                @{{p?.userPseudo}} -
              </strong>
              <span *ngIf="time(p?.createdAt) != 'il y a un mois'">
                <span *ngIf="time(p?.createdAt) != 'il y a un jour'">
                  <span *ngIf="time(p?.createdAt) != 'il y a une minute'">
                    <span class="time" *ngIf="time(p?.createdAt) != 'il y a une heure'">
                      {{time(p?.createdAt) }}
                    </span>
                  </span>
                </span>
              </span>
              <span class="time" *ngIf="time(p?.createdAt) == 'il y a une minute'">
                il y a 1 minute
              </span>
              <span class="time" *ngIf="time(p?.createdAt) == 'il y a une heure'">
                il y a 1 heure
              </span>
              <span class="time" *ngIf="time(p?.createdAt) == 'il y a un jour'">
                il y a 1 jour
              </span>
              <span class="time" *ngIf="time(p?.createdAt) == 'il y a un mois'">
                il y a 1 mois
              </span>
            </span><br>

            <div style="float: left;margin-left: -8px;">
              {{ p?.content }}
            </div>

          </div>
        </div>

        <ion-grid>
          <ion-row [ngStyle]=" {'margin-top': !p?.image_url && !p?.video_url? '-111px' : '0'}">
            <ion-col *ngIf="p?.image_url|| p?.video_url">
              <div style="float: right;">
                <img *ngIf="p?.userPhoto_url" class="img img-media" [src]="p?.userPhoto_url" alt="">
              </div>

              <div style="float: right; color: #fff !important;" class="userPseudo-bg"
                *ngIf="p?.image_url || p?.video_url">
                <div *ngIf="p?.userPhoto_url == '' || p?.userPhoto_url == null " class=" pseudo-media"
                  [ngStyle]="{'color': p?.backgroundColor == '#fff' ? 'black' : 'white' }">
                  {{p?.userPseudo | slice:0:1| uppercase}}
                </div>
              </div>

            </ion-col>

            <ion-col size="12">
              <section>
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container " (click)="presentCommentModal(p)">
                      <button mat-fab class="mat-button" color="primary"
                        aria-label="Example icon button with a delete icon">
                        <ion-icon style="font-size: 26px;margin-top: -3px;" name="chatbubble-outline"></ion-icon>
                      </button>
                    </div>

                  </div>
                </div>

              </section>
            </ion-col>
            <ion-col size="12" *ngIf="p?.favorite == true">
              <section>
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container" (click)="removeFavorite(p?._id)">
                      <button mat-fab class="mat-button" color="primary"
                        aria-label="Example icon button with a delete icon">
                        <ion-icon style="    font-size: large;margin-top: -3px;" name="star"></ion-icon>
                      </button>
                    </div>

                  </div>
                </div>

              </section>
            </ion-col>
            <ion-col size="12" *ngIf="p?.favorite != true">
              <section>
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container" (click)="addFavorite(p?._id)">
                      <button mat-fab class="mat-button" color="primary"
                        aria-label="Example icon button with a delete icon">
                        <ion-icon style="font-size: large;margin-top: -3px;" name="star-outline"></ion-icon>

                      </button>
                    </div>

                  </div>
                </div>

              </section>
            </ion-col>
            <ion-col size="12">
              <section>
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container">
                      <button mat-fab color="primary" (click)="presentShareModal(p)" class="mat-button"
                        aria-label="Example icon button with a delete icon">
                        <span style="    margin-top: -4px;" class="material-icons">
                          redo
                        </span>
                      </button>
                    </div>

                  </div>
                </div>
              </section>
            </ion-col>
            <ion-col size="12">
              <section>
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container" (click)="presentLinkModal(p)">
                      <button mat-fab color="primary" class="mat-button"
                        aria-label="Example icon button with a delete icon">
                        <span style="    margin-top: -4px;" class="material-icons">
                          group_add
                        </span>
                      </button>
                    </div>

                  </div>
                </div>

              </section>
            </ion-col>
            <ion-col size="12">
              <div class="filigrane" style="float: right;font-weight: 800;font-size: 7px;"
                *ngIf="p?.image_url || p?.video_url">
                <span>MATCHES</span>
                <span style="margin-top: 6px;" *ngIf="p?.matches?.length == 0"> <br> 0</span>
                <span style="margin-top: 6px;" *ngIf="p?.matches?.length > 3">+ {{p.matches?.length - 3}} </span> <br>

              </div>
            </ion-col>
            <ion-col *ngIf="p?.image_url || p?.video_url" size="12">
              <span class="match-align" *ngFor="let m of p?.matches | slice:0:3;">
                <img class="match-image" *ngIf="m?.photo" [src]="m?.photo" alt="">
                <div class="match-pseudo" *ngIf="m?.photo == null || m?.photo ==''"
                  [ngStyle]="{'color': p?.backgroundColor == '#fff' ? 'black' : 'white' }">
                  {{m?.prenom | slice:0:1| uppercase}}
                </div>
              </span>

            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


    </ion-slide>

    <div class="next-btn" (click)='prev()'>
      prev
    </div>
    <div class="prev-btn" (click)='next()'>
      next
    </div>
  </ion-slides>


  <input type="radio" name="modal" value="open" id="modal-open" class="modal-radio" />
  <div class="modal" (click)="dismiss()" *ngIf="globals?.showBackground "
    [ngStyle]="{'opacity': globals?.showBackground == true ? '1' : '0' }">

  </div>


</ion-content>