ion-title{
    color: #ea4e50;
}

.example-button-container{
    float: right;
    margin-top: -27px;
    margin-right: 12px;
}

.btn-icon{
    margin-right: 13px;
}

mat-icon{
    color: #ea4e50;
}

.actions{
    display: grid;
    margin-bottom: -117px;
}

ion-fab-button{
    width: 47px;
    height: 47px;
}

ion-icon{
    color: #ea4e50;
}

.post-txt{
    margin-bottom: 154px;
    width: min-content;
    font-size: 28px;
    font-weight: 100;
}

.img-poster{
    width: 23%;
    height: 52px;
    float: left;
    border-radius: 34px;
    margin-left: -12px;
}

strong , small{
    font-size: 17px;
    margin-left: -58px;
}

.time{
    font-size: 17px;
    margin-right: -94px;
    margin-left: 41px;
}

