ion-title{
    color: #ea4e50;
}
ion-toolbar{
    height: 68px;
    margin-bottom: -22px;
}
ion-slide{
    border-radius: 40px 40px 1px 0px;
}
.material-icons{
    color: #ea4e50;
}

.example-button-container{
    float: right;
    margin-right: -3px;
    display: flex;
}

.next-btn{
    height: -webkit-fill-available;
    position: absolute;
    width: 19%;
    background: #f0f8ff00;
    color: #f0f8ff00;
}
.match-img{
    position: absolute;
    float: left;
    width: 70%;
    bottom: 57px;
    display: flex;
    color: #ea4e50;
    font-size: 12px;

}

.match-image{
    border-radius: 96px;
    height: 25px;
    width: 25px;
    
}
.prev-btn{
    float: right;
    position: absolute;
    height: 51%;
    right: 0;
    background: #f0f8ff00;
    color: #f0f8ff00;
}

mat-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mat-img{
    float: left;
    margin-left: -159px;
    width: 18%;
    border-radius: 40px;
    height: 52px;
}
.mat-res{
    background: aliceblue;
    border-radius: 8px;
    padding: 19px;

}
mat-card-title, mat-card-subtitle{
    margin-top: -7px;

}
mat-card-title{
    font-size: 19px;
    font-weight: 600;
}
.comment-form{
    border-radius: 0px;
    margin-top: -102px;
    width: 362px;
    margin-left: -21px;
    height: 75px;
}
.mat-img-res{
    float: left;
    margin-left: -1px;
    width: 18%;
    border-radius: 40px;
    height: 35px;
    margin-right: 12px;
}
.search-input{
    width: 76%;
    display: block;
}
.btn-icon{
    margin-right: 13px;
}

mat-icon{
    color: #ea4e50;
}

.actions{
    display: grid;
    margin-bottom: -117px;
}

ion-fab-button{
    width: 47px;
    height: 47px;
}

ion-icon{
    color: #ea4e50;
}

.post-txt{
    margin-bottom: 154px;
    width: min-content;
    font-size: 28px;
    font-weight: 100;
}

.img-poster{
    width: 23%;
    height: 52px;
    float: left;
    border-radius: 34px;
    margin-left: -12px;
}

strong , small{
    font-size: 17px;
    margin-left: -58px;
}

.time{
    font-size: 17px;
    margin-right: -94px;
    margin-left: 41px;
}

.comment-profile{
    height: 100%;
}

mat-form-field{
    position: fixed;
    display: block;
    width: 63%;
    margin-top: -85px

}

.ion-textarea{
    width: 67%;
    margin-left: 16px;
}
.cmt{
    width: 352px;
    margin-left: -16px;
    background: #f7ebeb;
    border-radius: 0px;
    box-shadow: none;
}
ion-button{
    width: 28%;
    float: right;
    margin-right: -10px;
    margin-top: -52px;
}


.chat-input-holder {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  
  .chat-input {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: 'Lato', sans-serif;
      font-size: 14px;
    color: #999999;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, .05);
     border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  
  .chat-input:focus, .message-send:focus {
    outline: none;
  }
  
  .message-send::-moz-focus-inner {
      border:0;
      padding:0;
  }
  
  .message-send {
    -webkit-appearance: none;
    background: #9cc900;
    background: -moz-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -webkit-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -o-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -ms-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
    color: white;
    font-size: 12px;
    padding: 0 15px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  }
/*
.form-wrapper{
    margin-top: -83px;
    z-index: 1000;
    position: relative;
}*/

.send-btn{
    margin-top: 21px;
    margin-right: -12px;

}

ion-grid{
    position: relative;
    bottom: 0;
}


//modal

.card {
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 18px -8px #263238;
    color: #424242;
    margin: 20px auto;
    padding: 20px;
}

.modal-open {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
}

.modal-label {
    position: relative;
}



.modal-label2{
    background: #cfcfcf;
    padding: 14px;
    border-radius: 40px;
    margin-right: -24px;
    width: 52px;
    font-size: 25px;
    height: 52px;
    margin-bottom: 14px;
    position: relative;

}

.modal-radio {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: absolute;
    z-index: 1113;
    height: 100%;
    width: 100%;
    top: 185px;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s, transform .5s;
}

.modal2 {
    position: absolute;
    z-index: 1500;
    height: 30%;
    width: 100%;
    top: 390px;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s, transform .5s;
}


#modal-open:checked+.modal {
    opacity: 1;
    transform: scale(1);
}

#modal-open2:checked+.modal2 {
    opacity: 1;
    transform: scale(1);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 65px;
    left: 0;
}

.modal .content {
    position: absolute;
    width: 100%;
    height: 481px;
    max-height: 98%;
    top: 2%;
    left: 0%;
    background: #F0EFEF;
    border-radius: 44px 44px 0px 0px;
    box-shadow: 0 3px 15px -2px #222;
    padding: 20px;
}

.modal2 .content {
    position: absolute;
    width: 100%;
    height: 481px;
    max-height: 98%;
    top: 16%;
    left: 0%;
    background: #F0EFEF;
    border-radius: 44px 44px 0px 0px;
    box-shadow: 0 3px 15px -2px #222;
    padding: 20px;
}


.close-btn {
    position: absolute;
    width: 17px;
    height: 8px;
    top: 11px;
    right: 43px;
    border-radius: 50%;
    cursor: pointer;
}

.close-btn:after,
.close-btn:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background: #ea4e50;
    left: 15%;
    top: 50%;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

.close-btn:before {
    transform: rotate(-45deg);
}

.content-comment{
    margin-left: 56px;
    margin-top: -46px !important;
}

.star-btn{
    float: right;
    margin-top: -42px;
}

.answers{
    color: #908A8A;
}

.scroll-content {
    position: relative;
  }
  
.text-share
{
      font-size: 11px;
      margin-top: 19px;
  }

  .rs-btn{
    margin-left: 95px;margin-bottom: 53px;text-align: center;
  }
  .sv-btn{
    margin-right: 92px;margin-bottom: 53px;text-align: center;
  }

  .fixContainer{
    position: fixed;
    padding: 2em;
    left: 59%;
    top: 64%;
    transform: translate(-50%, -50%);
    }
  /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 320px) {
    .modal2{
        height: 37%;
        width: 100%;
        top: 308px;
        
    }

    .fixContainer{
    position: fixed;
    padding: 2em;
    left: 59%;
    top: 64%;
    transform: translate(-50%, -50%);
    }


    ion-button {
        width: 28%;
        float: right;
        margin-right: 26px;
        margin-top: -49px;
    }

    .ion-textarea {
        width: 67%;
        margin-left: -15px;
    }

    .search-input{
        width: 73%;
    }
    .rs-btn{
        margin-left: 79px;
    }
    .sv-btn{
        margin-right: 81px;
    }
  }