video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
   /* z-index: -100;*/
    transform: translateX(-50%) translateY(-50%);
    vertical-align: middle;

}

ion-spinner{
 
    width: 129px;
    height: 75px;

  }
.userPseudo-bg{
    background: rgba(0, 0, 0, 0.18);
    border-radius: 60px;
   
}

.match-align{
    float: right;
    margin-left: 4px;
}
ion-title{
    color: #ea4e50;
}
ion-toolbar{
    height: 68px;
    margin-bottom: -22px;
}

.icons{
    display: inline-flex;
}
.group-add-icon{
    background: aliceblue;
    border-radius: 52px;
    padding: 18px;
    width: 76px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img1{
    margin-right: -13px;
}
.img3{
    margin-left: -13px;
}
.group-img{
    min-width: 69px !important;
    max-height: 69px !important;
}
.group-icon{
    background: aliceblue;
    border-radius: 52px;
    padding: 13px;
    width: 65px;
    margin-right: 8px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tuto-bg{
    background-color: brown;
    font-size: 27px;
    font-weight: 500;
}
.slide3-img{
    border: none;
    width: 310px;
    border-radius: initial;
}
.foot{
    margin-top: 47px;
}
.robot{
    width: 94px;
}
.img-tuto{
    border-radius: initial;
    border: none
}

.round-img{
    height: 64px;
    width: 64px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #ea4e50;
    padding-top: 19px;
    padding-left: 25px;
    text-align: left;
    font-size: 18px;
    float: left;
}

.match-pseudo{
    height: 24px;
    width: 24px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #ea4e50;
    background-color: rgba(255, 255, 255, 0.288);
    padding-top: 2px;
}

img{
    border: solid 2px #ea4e50;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;

}

.img{
    height: 64px;
    width: 64px;
    border-radius: 177px;
    border: solid 2px #ea4e50;
    display: block;
    margin-left: 8px;
    margin-right: 2px;
}
.play-btn{
    font-size: 31px;
    font-weight: 100;
    top: 43%;
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(0 0 0 / 18%);;
    padding-left: 18px;
    border-radius: 50px;
}

.pseudo-media{
    height: 54px;
    width: 54px;

    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #ea4e50;
    padding-top: 13px;
    font-size: 18px;
    float: right;

}

.img-media{
    height: 54px;
    width: 54px;

    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #ea4e50;
    font-size: 18px;
    float: right;
}

.check-btn{
    margin-top: -46px !important ;

}

.img-match{
    width: 16%;
    height: 49px;
    border: solid 2px #ea4e50;
    margin-right: 15px;
    margin-bottom: 18px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;

}

ion-slides{
    height: -webkit-fill-available;
}
/*.ion-slide-no-img{
    opacity: 0 !important;

}*/
ion-slide{
    border-radius: 40px 40px 1px 0px;
    height: -webkit-fill-available;
}
/*
.ion-slide-img{
    opacity: 1 !important;

}*/


mat-card-header{
    margin-top: 24px !important;
}
.material-icons{
    color: #ea4e50;
}

.cancel-btn{
    width: 100%;
    position: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.example-button-container{
    float: right;
    margin-right: -3px;
    display: flex;
}

.next-btn{
    height: -webkit-fill-available;
    position: absolute;
    width: 19%;
    background: #f0f8ff00;
    color: #f0f8ff00;
}
.match-img{
    position: absolute;
    float: left;
    width: 70%;
    display: flex;
    color: #ea4e50;
    font-size: 12px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.match-image{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    
}
.prev-btn{
    float: right;
    position: absolute;
    height: 22%;
    right: 0;
    background: #f0f8ff00;
    color: #f0f8ff00;
    width: 19%;
}

mat-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mat-img{
    width: 121px;
    border-radius: 21px;
    height: 100%;
}
.mat-res{
    background: aliceblue;
    border-radius: 8px;
    padding: 19px;

}
mat-card-title, mat-card-subtitle{
    margin-top: -7px;

}
mat-card-title{
    font-size: 19px;
    font-weight: 600;
}
.comment-form{
    border-radius: 0px;
    margin-top: -102px;
    height: 75px;
    width: -webkit-fill-available;
    margin-left: -46px;
}
.mat-img-res{
    float: left;
    margin-left: -1px;
    width: 18%;
    height: 18%;
    margin-right: 12px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}
.search-input{
    width: 76%;
    display: block;
}
.btn-icon{
    margin-right: 13px;
}

mat-icon{
    color: #ea4e50;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.actions{
    display: grid;
    margin-bottom: -117px;
}

ion-fab-button{
    width: 47px;
    height: 47px;
}

ion-icon{
    color: #ea4e50;
}
.content-down{
    margin-top: 25px;
    color: black;
    background: rgb(0 0 0 / 18%);
    padding: 14px;
    border-radius: 30px;
    margin-left: -10px;

}

.filigrane{
    background: rgb(0 0 0 / 18%);
    padding-top: 21px;
    border-radius: 30px;
    color: #fff;
    height: 54px;
    width: 54px;
    margin-right: -3px;
}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 127px;
    width: 224px;
    z-index: 1000;
    position: relative;
    margin-bottom: -57px;
}

.post-txt{
    margin-bottom: -5px;
    width: 100%;
    font-weight: 100;
    padding-left: 17px;
    position: relative;
}

.header-slide{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 27px;
    margin-top: 36px;
    top: 0;
    position: fixed;
    margin-left: 19px;
}

.mat-button{
    width: 54px;
    height: 54px;
    background: #cfcfcf;
}
.img-poster{
    width: 23%;
    height: 23%;
    float: left;
    margin-left: -12px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

strong , small{
    font-size: 17px;
    margin-left: -58px;
}

.time{
    font-size: 17px;

}

.comment-profile{
    height: 100%;
}

.mat-form-field{
    position: fixed;
    display: block;
    width: 72%;
    margin-top: -85px

}

.mat-form-field2{
         position: fixed; 
        display: block;
        width: 91%;
         margin-top: 0;
}

.input-s[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #e9565c;
    color: #a0d18c;
    width: 315px;
    height: 48px;
    padding-left: 10px;
    margin-top: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
.input-s[type=text]:focus {
     outline: none;
     border: 1px solid #a0d18c;
     color: #2d9fd9;
}

.ion-textarea{
    width: 61%;
    margin-left: 16px;
    margin-top: 11px;

}
.cmt{
    width: 332px;
    margin-left: -2px;
    background: #f0efef;
    border-radius: 0px;
    box-shadow: none;
}

.cmt2{
    width: 332px;
    margin-left: 8px;
    background: #f0efef;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 7px;
}
ion-button{
    float: right;
    margin-top: -52px;
    width: 22%;
    margin-right: 25px;
}


.chat-input-holder {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  
  .chat-input {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: 'Lato', sans-serif;
      font-size: 14px;
    color: #999999;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, .05);
     border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  
  .chat-input:focus, .message-send:focus {
    outline: none;
  }
  
  .message-send::-moz-focus-inner {
      border:0;
      padding:0;
  }
  
  .message-send {
    -webkit-appearance: none;
    background: #9cc900;
    background: -moz-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -webkit-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -o-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -ms-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
    color: white;
    font-size: 12px;
    padding: 0 15px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  }
/*
.form-wrapper{
    margin-top: -83px;
    z-index: 1000;
    position: relative;
}*/

.send-btn{
    margin-top: 21px;
    margin-right: -12px;

}

ion-grid{
    position: relative;
    bottom: 0;
}


//modal

.card {
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 18px -8px #263238;
    color: #424242;
    margin: 20px auto;
    padding: 20px;
}

.modal-open {
    border-radius: 10px;
    color: #fff;
    width: 59px;
    height: 37px;
    
    
}


.modal-label {
    position: relative;
}


.modal-radio {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: absolute;
    z-index: 1500;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(1);
    transition: opacity .5s, transform .5s;
    background: rgba(0,0,0, .9);
}



#modal-open:checked+.modal {
    opacity: 1;
    transform: scale(1);
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 65px;
    left: 0;
}


.modal .content {
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    max-height: 98%;
    top: 2%;
    left: 0%;
    background: #F0EFEF;
    border-radius: 44px 44px 0px 0px;
    box-shadow: 0 3px 15px -2px #222;
    padding: 20px;
}


.close-btn {
    position: absolute;
    width: 17px;
    height: 8px;
    top: 11px;
    right: 43px;
    border-radius: 50%;
    cursor: pointer;
}

.close-btn:after,
.close-btn:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background: #ea4e50;
    left: 15%;
    top: 50%;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

.close-btn:before {
    transform: rotate(-45deg);
}

.content-comment{
    margin-left: 56px;
    margin-top: -11px !important;
    
}

.star-btn{
    float: right;
    margin-top: -66px;

}

.answers{
    color: #908A8A;
}

.scroll-content {
    position: relative;
  }
  
.text-share
{
      font-size: 11px;
      margin-top: 19px;
  }

  .rs-btn{
    margin-left: 95px;margin-bottom: 53px;text-align: center;
  }
  .sv-btn{
    margin-right: 92px;margin-bottom: 53px;text-align: center;
  }

  .fixContainer{
    position: fixed;
    top: 68%;
    left: 61%;
    width: -webkit-fill-available;
    transform: translate(-50%, -50%);
    }
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 375px) {
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (min-width: 361px) and (max-width: 374px) {
    .fixContainer{
        top: 74%;
    }
    .ion-textarea{
        margin-top: -13px;
    }
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (width: 414px){
   .fixContainer{
        top: 72%;
    }
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
  
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (width: 375px){
 
    .fixContainer{
        top: 74%;
    }
    .ion-textarea{
        margin-top: -13px;
    }

    .comment-form{
        margin-top: -142px;
    }
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (width: 412px){
 .comment-form{
    margin-top: -12px;

 }
 .ion-textarea{
    margin-top: 1px;
 }
 .fixContainer{
     top: 65%;
 }
 ion-slide{
    border-radius: 40px 40px 1px 0px;
    height: -webkit-fill-available;
}
 
}

@media screen and (width: 375px) {
    .fixContainer{
        top: 79%;
    }
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
 }
 
@media screen and (width: 411px){
   .ion-textarea{
    margin-top: -5px;
   }
   .fixContainer{
    top: 74%;

   }
   ion-slide{
    border-radius: 40px 40px 1px 0px;
    height: -webkit-fill-available;
}
   
}

@media screen and (max-width: 320px) {
  
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
    .fixContainer{
    position: fixed;
    padding: 2em;
    left: 59%;
    top: 64%;
    transform: translate(-50%, -50%);
    }

  
    ion-button {
        width: 28%;
        float: right;
        margin-right: 26px;
        margin-top: -49px;
    }

    .comment-form{
        width: 328px;
    margin-left: -65px;
    }

    .ion-textarea {
        width: 67%;
        margin-left: -15px;
        margin-top: -12px;
    }

    .search-input{
        width: 73%;
    }
    .rs-btn{
        margin-left: 79px;
    }
    .sv-btn{
        margin-right: 81px;
    }
  }