<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h3 style="margin-top: 9px;color: #ea4e50;font-size: 20px;" >MESSAGERIE</h3>
        </ion-col>
        <ion-col>
          <div *ngIf="!showSearch" class="example-button-container">
            <button (click)="goToSearch()" class="btn-icon" mat-mini-fab
              aria-label="Example icon button with a home icon">
              <mat-icon>search</mat-icon>
            </button>
            <button (click)="goToContacts()" class="btn-icon" mat-mini-fab
              aria-label="Example icon button with a home icon">
              <mat-icon>account_circle</mat-icon>
            </button>
        
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span *ngIf="showSearch" style="display: flex;">
            <button (click)="showSearch = false" style="font-size: 29px;" mat-button>
              <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
            <form style="margin-top: 72px; margin-bottom: -41px;" class="example-form">
              <mat-form-field class="example-full-width search-input mat-form-field">
                <mat-label>Rechercher</mat-label>
                <input [(ngModel)]="search" name="search" matInput placeholder="Taper pour filtrer">
              </mat-form-field>
            </form>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>



  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid>
    <!--  tabs aprt -->
    <ion-row>
      <ion-col size="12">
        <input class="input-s" type="text" name="searchValue" [(ngModel)]='search' placeholder="Rechercher...">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner *ngIf="loading" color="primary" name="dots"></ion-spinner>

  <div class="item-wrapper">


    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    
      <ion-list  class="margin-bottom ion-no-padding">

        <div *ngFor="let m of rooms| filter:search ;trackBy: trackByFn ">

          <ion-item *ngIf="m?.connectedUsers.length == 1">
            <div  *ngIf="userId !== m?.connectedUsers[0]">
                <div  (click)="gotoChatRoom(m?._id, m?.connectedUsersInfo?.pseudoIntime,
                m?.connectedUsersInfo?.photo, m?.connectedUsers.length,
                 m?.name, m?.connectedUsers[0], m?.userId)" *ngIf="!m?.connectedUsersInfo?.photo" class="round-img-post">
                  {{m?.connectedUsersInfo?.pseudoIntime | slice:0:1| uppercase}}
                </div>
            </div>
            <div *ngIf="userId !==  m?.connectedUsers[0]">
              <img *ngIf="m?.connectedUsersInfo?.photo"  (click)="gotoChatRoom(m?._id, m?.connectedUsersInfo?.pseudoIntime,
              m?.connectedUsersInfo?.photo, m?.connectedUsers.length,
               m?.name, m?.connectedUsers[0], m?.userId)" [src]="m?.connectedUsersInfo?.photo" alt="">
      
            </div>
    
             <!-- if user initiator is not me -->
    
             <div  *ngIf="userId ===  m?.connectedUsers[0]">
              <div  (click)="gotoChatRoom(m?._id, m?.userInitiator?.pseudoIntime,
              m?.userInitiator?.photo, m?.connectedUsers.length,
               m?.name, m?.connectedUsers[0], m?.userId)" *ngIf="!m?.userInitiator?.photo" class="round-img-post">
                {{m?.userInitiator?.pseudoIntime | slice:0:1| uppercase}}
              </div>
             </div>
            <div *ngIf="userId ===  m?.connectedUsers[0]">
              <img *ngIf="m?.userInitiator?.photo"  (click)="gotoChatRoom(m?._id, m?.userInitiator?.pseudoIntime,
              m?.userInitiator?.photo, m?.connectedUsers.length,
               m?.name, m?.connectedUsers[0], m?.userId)" [src]="m?.userInitiator?.photo" alt="">  
            </div>
           
            <ion-label  (click)="gotoChatRoom(m?._id, m?.connectedUsersInfo?.pseudoIntime,
            m?.connectedUsersInfo?.photo, m?.connectedUsers.length,
             m?.name, m?.connectedUsers[0], m?.userId)" [ngStyle]="{ 'padding-bottom':  m?.lastMessage.length == 0 ? '14px': '0' }">
              <b *ngIf="m?.connectedUsersInfo._id == userId"> {{m?.userInitiator?.pseudoIntime}} </b>
              <b *ngIf="m?.connectedUsersInfo._id != userId"> {{m?.connectedUsersInfo?.pseudoIntime}} </b>
              <b *ngIf="m?.lastMessage.length > 0" style="float: right;" class="time">
                {{m?.lastMessage[0].createdAt | slice:11:16 }}
              </b><br>
              <span *ngIf="m?.lastMessage.length > 0">
                <span [ngClass]="{'isReadMessage':  m?.lastMessage[0].userId !== userId && m?.lastMessage[0].isRead === true, 'isNotReadMessage': m?.lastMessage[0].userId !== userId && m?.lastMessage[0].isRead === false}" >
                    {{m?.lastMessage[0].text | slice:0:25}}...
                </span>
              </span>
    
            </ion-label>
    
            <mat-icon *ngIf="m?.countUnreadMessages !== 0" class="badge"  [matBadge]="m?.countUnreadMessages" matBadgeColor="warn">
            </mat-icon>
            <button class="mat-header-btn" mat-button [matMenuTriggerFor]="menu">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="removeRoom(m)" mat-menu-item>Supprimer</button>
            </mat-menu>
          </ion-item>
    
          <ion-item *ngIf="m?.connectedUsers.length > 1">
            <div  (click)="gotoChatRoom(m?._id, m?.connectedUsersInfo?.pseudoIntime,
            m?.connectedUsersInfo?.photo, m?.connectedUsers.length,
             m?.name, m?.connectedUsers[0], m?.userId)" class="round-img-post">
              {{m?.name | slice:0:1| uppercase}}
            </div>
            <img *ngIf="m?.photo"  (click)="gotoChatRoom(m?._id, m?.connectedUsersInfo?.pseudoIntime,
            m?.connectedUsersInfo?.photo, m?.connectedUsers.length,
             m?.name, m?.connectedUsers[0], m?.userId)" [src]="m?.photo" alt="">
            <ion-label  (click)="gotoChatRoom(m?._id, m?.connectedUsersInfo?.pseudoIntime,
            m?.connectedUsersInfo?.photo, m?.connectedUsers.length,
             m?.name, m?.connectedUsers[0], m?.userId)" [ngStyle]="{ 'padding-bottom':  m?.lastMessage.length == 0 ? '14px': '0' }">
              <b> {{m?.name | slice:0:15}} <span *ngIf="m?.name?.length > 16">...</span> </b>
              <b *ngIf="m?.lastMessage.length > 0" style="float: right;" class="time">
                {{m?.lastMessage[0].createdAt | slice:11:16 }}
              </b><br>
              <span  *ngIf="m?.lastMessage.length > 0">
                <span  [ngClass]="{'isReadMessage': m?.lastMessage[0].isRead === true, 'isNotReadMessage': m?.lastMessage[0].isRead === false}" >
                    {{m?.lastMessage[0].text | slice:0:25}}...
                </span>
              </span>
    
            </ion-label>
    
            <mat-icon *ngIf="m?.countUnreadMessages !== 0" class="badge"  [matBadge]="m?.countUnreadMessages" matBadgeColor="warn">
            </mat-icon>
            <button class="mat-header-btn" mat-button [matMenuTriggerFor]="menu">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="removeRoom(m)" mat-menu-item>Supprimer</button>
            </mat-menu>
    
          </ion-item>
        </div>
    </ion-list>



    <div *ngIf="loading == false && rooms?.length == 0" class="empty-msg">
      <span class="material-icons drafts">
        message
      </span><br>
      <span>Aucune conversation</span>
    </div>

  </div>

  <!-- fab placed to the bottom end -->
  <ion-fab (click)="presentModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon style="margin-right: 0 !important; margin-top: 0px !important;" name="chatbox-ellipses-outline">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>