.call_to_fill {
  position: fixed;
  z-index: 10000;
  top: 96px;
}

.call_to_fill_btn {
  position: fixed;
  z-index: 100106;
  top: 92%;
  left: 42px;
  right: 52px;
  bottom: 0;
}

span {
  color: rgb(20, 70, 24) !important;
}
body {
  background-color: aqua;
}
