video {
  /*  position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    vertical-align: middle;
    */
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 6;
  height: 532px;
  width: 361px;
}

.btn-wrapper {
  position: fixed;
  top: 93%;
  display: block;
  left: 229px;
}

ion-title {
  text-align: center;
}
button {
  float: right;
  color: #5d54a4;
}
