

// user profile photo


.fixed-wrap{
    position: absolute;
    left: 78%;
    bottom: 104px
}
.img-wrapper{
    float: right;
    position: absolute;
    left: 11px;
    width: 54px;
    height: 54px;
    top: -57px;
    left: 2px;
}

.img-media-detail{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #306dd8;
    font-size: 18px;
    top: -57px;
    left: 0px;
    width: 54px;
    height: 54px;
}

.userPseudo-bg{
    background: rgba(0, 0, 0, 0.18);
    border-radius: 60px;
   
}

// other css
ion-title{
    color: #306dd8;
}
ion-toolbar{
    height: 68px;
    margin-bottom: -22px;
}

.price{
    margin-right: -16px;
    margin-left: 27px;
}



strong{

    padding: 19px;
    background: #00000066;
    color: white;
    border-radius: 30px;

}

ion-label{
    color: #b03020;
}

ion-chip{
    background: #f0f8ffe0;
}

.desc-text{
    float: left;
    padding: 15px;
    background: #0b0e1069;
    border-radius: 18px;
}

.round-img{
    height: 64px;
    width: 64px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #306dd8;
    padding-top: 19px;
    padding-left: 25px;
    text-align: left;
    font-size: 18px;
    float: left;
}

.match-pseudo{
    height: 24px;
    width: 24px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #306dd8;
    background-color: rgba(255, 255, 255, 0.288);
    color: black;
}

img{
    border: solid 2px #306dd8;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;

}

.img{
    height: 64px;
    width: 64px;
    border-radius: 177px;
    border: solid 2px #306dd8;
    display: block;
    margin-left: 8px;
    margin-right: 2px;
}
.play-btn{
    font-size: 31px;
    font-weight: 100;
    top: 43%;
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(0 0 0 / 18%);;
    padding-left: 18px;
    border-radius: 18px;
}
.img-media, .pseudo-media{
    height: 54px;
    width: 54px;

    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #306dd8;
    padding-top: 14px;
    padding-left: 20px;
    text-align: left;
    font-size: 18px;
    float: right;

}

.check-btn{
    margin-top: -46px !important ;

}

.img-match{
    width: 16%;
    height: 49px;
    border: solid 2px #306dd8;
    margin-right: 15px;
    margin-bottom: 18px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;

}

ion-slides{
    height: -webkit-fill-available;
}
/*.ion-slide-no-img{
    opacity: 0 !important;

}*/
ion-slide{
    border-radius: 40px 40px 1px 0px;
    height: -webkit-fill-available;
}
/*
.ion-slide-img{
    opacity: 1 !important;

}*/


mat-card-header{
    margin-top: 24px !important;
}
.material-icons{
    color: #306dd8;
}

.cancel-btn{
    width: 100%;
    position: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.example-button-container{
    float: right;
    margin-right: -3px;
    display: flex;
}

.next-btn{
    height: -webkit-fill-available;
    position: absolute;
    width: 19%;
    background: #f0f8ff00;
    color: #f0f8ff00;
}
.match-img{
    position: absolute;
    float: left;
    width: 100%;
    display: flex;
    color: #fff;
    font-size: 12px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    margin-top: -197px;
    z-index: 1000;
}

.match-image{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    
}

.description-text{
    margin-top: 44px;
    margin-left: -2px;
}

mat-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mat-img-res{
    float: left;
    margin-left: -1px;
    width: 18%;
    height: 18%;
    margin-right: 12px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}
.btn-icon{
    margin-right: 13px;
}

mat-icon{
    color: #306dd8;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.actions{
    display: grid;
    margin-bottom: -117px;
}

ion-fab-button{
    width: 47px;
    height: 47px;
}

ion-icon{
    color: #306dd8;
}
.content-down{
    margin-top: 25px;
    color: black;
    background: rgb(0 0 0 / 18%);
    border-radius: 30px;
    float: left;
    width: 100%;
    margin-left: -6px;
  //  margin-left: -180px;

}

.match-align{
    float: right;
}

.filigrane{
    background: rgb(0 0 0 / 18%);
    border-radius: 30px;
    color: #fff;
 
}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 127px;
    width: 224px;
    z-index: 1000;
    position: relative;
    margin-bottom: -57px;
}

.post-txt{
    margin-bottom: -5px;
    width: 100%;
    font-weight: 100;
    padding-left: 17px;
    position: relative;
}

.header-slide{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 27px;
    margin-top: 36px;
    top: 0;
    position: fixed;
    margin-left: 19px;
}


ion-grid{
    position: relative;
    bottom: 0;
}


 /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 375px) {
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (min-width: 361px) and (max-width: 374px) {
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (width: 414px){
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
  
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (width: 375px){
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (width: 412px){
 
 ion-slide{
    border-radius: 40px 40px 1px 0px;
    height: -webkit-fill-available;
}
 
}

@media screen and (width: 375px) {
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
 }
 
@media screen and (width: 411px){
   ion-slide{
    border-radius: 40px 40px 1px 0px;
    height: -webkit-fill-available;
}
   
}

@media screen and (max-width: 320px) {
   
    ion-slide{
        border-radius: 40px 40px 1px 0px;
        height: -webkit-fill-available;
    }
  }