ion-modal {
    left: 0;
    right: 0;
    top: 0 !important;
    height: 404px;
    bottom: 0 !important;
}
.modal-wrapper {
    width: 100%;
    height: 100%;
  }

  .round-img-post{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: solid 1px #ea4d4f;
    padding-top: 25px;
    text-align: center;
    font-size: 15px;
    display: block;
    margin-left: 8px;
    margin-right: 2px;
    color: #000000;
}
ion-title{
    color: #ea4e50;
}

ion-icon{
    font-size: 35px;
    margin-left: 15px;
}

.example-button-container{
    float: right;
    margin-top: 1px;
    margin-right: 12px;
}

.color-btns{
    float: right;
    margin-top: -11px;
    margin-right: -12px;
}
.btn-icon{
    margin-right: 13px;
}

mat-icon{
    color: #ea4e50;
}

.img-poster{
    border-radius: 139px;
    width: 67px;
    height: 67px;
    margin-top: 36px;
    margin-left: 22px;
}



mat-form-field{
    width: 100%;
}

.img-mat-icon{
    margin-right: 15px;
}

.material-icons{
    color: #ea4e50;
}

.black-btn, .brown-btn, .blue-btn, .grey-btn, .white-btn{
    border: 1px solid;
}

.black-btn{
background: black;
}
.white-btn{
background: white;
}
.grey-btn{
background: #73D896;
}
.brown-btn{
background: #E5858B;
}

.blue-btn{
background: #6C9FF0;
}

ion-spinner{
    width: 46px;
    height: 58px;
}