ion-title{
    color: #ea4e50;
}

.example-button-container{
    float: right;
    margin-top: 1px;
    margin-right: 12px;
}

.color-btns{
    float: right;
    margin-top: -11px;
    margin-right: -12px;
}
.btn-icon{
    margin-right: 13px;
}

mat-icon{
    color: #ea4e50;
}

img{
    border-radius: 139px;
    width: 67px;
    height: 67px;
    margin-top: 36px;
    margin-left: 22px;
}

mat-form-field{
    width: 100%;
}

.img-mat-icon{
    margin-right: 15px;
}

.material-icons{
    color: #ea4e50;
}

.black-btn, .brown-btn, .blue-btn, .grey-btn, .white-btn{
    border: 1px solid;
}

.black-btn{
background: black;
}
.white-btn{
background: white;
}
.grey-btn{
background: #73D896;
}
.brown-btn{
background: #E5858B;
}

.blue-btn{
background: #6C9FF0;
}

ion-spinner{
    width: 46px;
    height: 58px;
}