<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" [options]="slideOpts" #slides>
    <ion-slide>
      <div>
        slide 1
      </div>
      <div class="slidenav">
          <img src="../../assets/img/tuto_img1.jpg" class="photo-profile" alt="">
          <div class="menu">
            <a href="">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </a>
            <a href="">
              <ion-icon name="star"></ion-icon>
            </a>
            <a href=""> <span class="material-icons">redo</span> </a>
            <a href=""> <span class="material-icons">group_add </span> </a>
      
            <div class="filigrane" style="font-weight: 800;font-size: 7px;">
                <span>MATCHES</span>
                <span style="margin-top: 6px;" > + 9 </span> <br>
              </div>
          </div>
        </div>
      
        <div class="userInfo">
          <p>@Chris <br>#foryou #chrishelloaccount</p>
        </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/img/tuto_img2.jpg" alt="">
      </div>
      <div class="slidenav">
          <img src="../../assets/img/tuto_img1.jpg" class="photo-profile" alt="">
          <div class="menu">
            <a href="">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </a>
            <a href="">
              <ion-icon name="star"></ion-icon>
            </a>
            <a href=""> <span class="material-icons">redo</span> </a>
            <a href=""> <span class="material-icons">group_add </span> </a>
      
            <div class="filigrane" style="font-weight: 800;font-size: 7px;">
                <span>MATCHES</span>
                <span style="margin-top: 6px;" > + 9 </span> <br>
              </div>
          </div>
        </div>
      
        <div class="userInfo">
          <p>@Chris <br>#foryou #chrishelloaccount</p>
        </div>
    </ion-slide>
    <ion-slide>
      <video class="video" height="775px" width="370px">
        <source src="../../assets/video/VID-20200802-WA0032.mp4" type="video/mp4">
      </video>
      <div class="slidenav">
          <img src="../../assets/img/tuto_img1.jpg" class="photo-profile" alt="">
          <div class="menu">
            <a href="">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </a>
            <a href="">
              <ion-icon name="star"></ion-icon>
            </a>
            <a href=""> <span class="material-icons">redo</span> </a>
            <a href=""> <span class="material-icons">group_add </span> </a>
      
            <div class="filigrane" style="font-weight: 800;font-size: 7px;">
                <span>MATCHES</span>
                <span style="margin-top: 6px;" > + 9 </span> <br>
              </div>
          </div>
        </div>
      
        <div class="userInfo">
          <p>@Chris <br>#foryou #chrishelloaccount</p>
        </div>
    </ion-slide>



  </ion-slides>



</ion-content>