<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <!-- ion-header>
      <ion-toolbar>
        <ion-title>Navigate</ion-title>
      </ion-toolbar>
    </ion-header-->
    <ion-content>
      <!--ion-list *ngFor="let pages of navigate">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
               {{pages.title}} 
        </ion-item>
      </ion-menu-toggle>
      </ion-list-->

      <ion-item>
        <img src="../assets/Teepzy-06.png" alt="">
      </ion-item>
      <ion-list>
        <ion-item (click)="goToNotifications()">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
           Notifications
        </ion-item>
        <ion-item (click)="goToPrivacy()">
          <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
          Confidentialité
        </ion-item>
        <ion-item (click)="goToConditions()">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          Conditions
        </ion-item>
        <ion-item (click)="goToAutorisations()">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          Autorisations
        </ion-item>
        <ion-item (click)="goToSuggest()">
          <ion-icon name="receipt-outline" slot="start"></ion-icon>
          Suggérer
        </ion-item>
        <ion-item (click)="goToReport()">
          <ion-icon name="megaphone-outline" slot="start"></ion-icon>
          Signaler un bug
        </ion-item>
        <ion-item (click)="goToEditPass()">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          Changer mot de passe
        </ion-item>
        <ion-item (click)="goToEditInfo()">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Modifier mes infos
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Déconnexion
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>