<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1" type="overlay">
    <ion-content>
      <!--ion-list *ngFor="let pages of navigate">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
               {{pages.title}} 
        </ion-item>
      </ion-menu-toggle>
      </ion-list-->

      <ion-item>
        <img class="logo" src="../assets/Teepzy-06.png" alt="" />
      </ion-item>
      <ion-list>
        <ion-item>
          <mat-form-field style="width: 100%">
            <mat-select
              [(ngModel)]="language"
              (ngModelChange)="translateLanguageTo($event)"
              name="lang"
              [placeholder]="'CHANGE_LANGUAGE' | translate"
            >
              <mat-option
                *ngFor="let language of languages"
                [value]="language.code"
              >
                <div class="lang-container">
                  <span> {{ language?.language }} </span>
                  <img [src]="language?.flag" class="flag" alt="" />
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-item>
        <ion-item (click)="goToNotifications()">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          {{ "NOTIFICATIONS" | translate }}
        </ion-item>
        <ion-item (click)="goToPrivacy()">
          <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
          {{ "PRIVACY" | translate }}
        </ion-item>
        <ion-item (click)="goToConditions()">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          {{ "CONDITIONS" | translate }}
        </ion-item>
        <ion-item (click)="goToAutorisations()">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          {{ "AUTHORIZATION" | translate }}
        </ion-item>
        <ion-item (click)="goToSuggest()">
          <ion-icon name="receipt-outline" slot="start"></ion-icon>
          {{ "SUGGEST" | translate }}
        </ion-item>
        <ion-item (click)="goToReport()">
          <ion-icon name="megaphone-outline" slot="start"></ion-icon>
          {{ "CENSURE" | translate }}
        </ion-item>
        <ion-item (click)="goToEditPass()">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          {{ "CHANGE_PASS" | translate }}
        </ion-item>
        <ion-item (click)="goToEditInfo()">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          {{ "EDIT_INFO" | translate }}
        </ion-item>
        <ion-item (click)="copyShare('ANDROID')">
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          {{ "LINK_ANDROID" | translate }}
        </ion-item>
        <ion-item (click)="copyShare('IOS')">
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          {{ "LINK_IOS" | translate }}
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          {{ "LOGOUT" | translate }}
        </ion-item>
      </ion-list>

      <div class="appVersion">
        {{ appV }}
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
