.material-icons{
    margin-right: 30px;
}

ion-icon{
    color: black;
}

.logo{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appVersion{
    text-align: center;
    margin-top: 14px;
}