<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <!--input class="title-input" type="text" [(ngModel)]="title" name="title"-->
      <span class="title-input">Projets</span>
      <button class="cancel-btn" (click)="dismiss()" mat-button>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="banner">
          <div>

            <ion-row>
              <ion-col *ngFor="let img of dispImags" size="3">
                <div >
                  <img class="add-photo"  [src]="img" alt="">
                </div>
              </ion-col>
              <ion-col size="12" *ngIf="dispImags?.length == 0">
                <img class="add-photo" src="../../assets/img/neutral.jpg" alt="">
              </ion-col>
            </ion-row>


            <!-- fab placed to the bottom end -->
            <ion-fab *ngIf="dispImags?.length <= 4" (click)="selectImage(p)" vertical="center"
              horizontal="center" slot="fixed">
              <ion-fab-button color="light">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>TITRE</mat-label>
            <input matInput #nom="ngModel" required name="nom" [(ngModel)]="project.nom" placeholder="Titre du projet">
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <!--mat-label>DESCRIPTION</mat-label-->
            <textarea matInput name="description" #description="ngModel" maxlength="100" rows="5" required
              [(ngModel)]="project.description" (ngModelChange)="maxLengthDescription($event)"
              placeholder="DESCRIPTION"></textarea>
          </mat-form-field>
          <span>


            <div class="limit-chars" *ngIf="project?.description.length == 100">
              limite maximale de caractère à 100
            </div>
            <div class="limitCounter">
              {{project?.description.length}} / 100
            </div>

          </span>

          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                (removed)="remove(tag)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <mat-chip class="add-mat-chip">
                Ajouter
                <mat-icon (click)="add($event)" style="    width: 30px;
              height: 18px;" matChipRemove>add_circle</mat-icon>
              </mat-chip>
              <input placeholder="TAG" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>


        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="save-btn" [disabled]="nom.errors?.required 
        || description.errors?.required
        || tags?.length == 0 " (click)="uploadImagePermission()" mat-button>
      <span *ngIf="!loading">
        ENREGISTRER
      </span>
      <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
    </ion-button>
  </ion-toolbar>
</ion-footer>