<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>likers</ion-title>
    <ion-icon
      (click)="dismiss()"
      class="close-icon"
      name="close-outline"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading" color="primary" name="dots"></ion-spinner>

  <div
    *ngIf="likers?.length === 0&& !loading"
    class=".container-txt"
    style="text-align: center; margin-top: 37vh"
  >
    <span class="msg"> Aucun like </span>
  </div>
  <ion-list>
    <ion-item *ngFor="let L of likers">
      <ion-avatar slot="start">
        <img *ngIf="L?.photo" [src]="L?.photo" />
      </ion-avatar>
      <ion-label>
        <strong>{{L?.pseudoIntime}}</strong>
        <h5 style="font-size: 10px">{{L?.metier}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer translucent="true" class="ion-no-border">
  <ion-toolbar>
    <div class="ion-btn">
      <ion-button color="primary" style="margin-top: 1px" expand="full">
        <span (click)="addFavorite()" *ngIf="!post?.favorite&& !likeLoading">
          Ajouter aux favoris
        </span>
        <span (click)="removeFavorite()" *ngIf="post?.favorite&& !likeLoading">
          Enlever des favoris
        </span>
        <ion-spinner *ngIf="likeLoading" name="dots"></ion-spinner>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
