ion-title{
    color: #306dd8;
}

form{
    margin-top: 110px;
}
.code{
    width: 37%;
    float: left;
    margin-left: 6px;

}

.phone{
    width: 98%;
    float: right;
    margin-right: 6px;

}
.example-full-width{
    width: 98%;
    margin-left: 2px;
}