img{
    width: 123px;
    height: 123px;
    border-radius: 177px;
    border: solid 3px #ea4e50;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.condition{
    padding: 12px;
    font-size: 9px;
}

mat-form-field{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.example-form{
    margin-top: -54px;
}
mat-radio-button{
   /* border: solid 1px black;*/
    border-radius: 7px;
    padding: 9px;
    width: 42%;
    padding-bottom: 0px;
}

mat-radio-group{
    font-size: 15px;
}
span{
    color: green;
    font-size: 31px;
    margin-left: 26px;
    margin-bottom: 24px;
    float: right; margin-top: -55px;
}



label{
    color: green;
}

.code{
    width: 25%;
    float: left;
    margin-left: 34px;
}

.phone{
    width: 52%;
    float: right;
    margin-right: 32px;

}

.mat-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31px;
    height: 56px;
    
    font-weight: 500;
}

small{
    font-size: 18px !important;
    color: #ea4e50;

}
.camera-icon{
    margin-bottom: -7px;
    color: #ea4e50;

}

.round-img{
    height: 123px;
    width: 123px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #ea4e50;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    padding-top: 45px;
    text-align: center;
    color: #ea4e50;
    font-size: 27px;
}