img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    border-radius: 12px;
}

.footer-btn{
  position: absolute;
    bottom: 0;
}

.img-user{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  border-radius: 12px;
  margin-top: -35px;
  margin-bottom: -49px;

}

.check{
color: green;
}
mat-form-field{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.code{
    width: 37%;
    float: left;
    margin-left: 6px;

}

.phone{
    width: 54%;
    float: right;
    margin-right: 6px;

}

button{
    font-size: large;
    color: #ea4e50;
}

