<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon style="font-size: 30px;" name="arrow-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <label class="btn" for="modal-2">
            <img src="../../assets/img/Illustration 5-05.png" alt="">
          </label>

        </div>

      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Nom</mat-label>
            <input matInput type="text" name="nom" #nom="ngModel" required [(ngModel)]="user.nom"
              placeholder="Entrer votre nom">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Prénoms</mat-label>
            <input matInput type="text" name="prenom" #prenom="ngModel" required [(ngModel)]="user.prenom"
              placeholder="Entrer votre prénom">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" #email="ngModel" required [(ngModel)]="user.email"
              placeholder="Entrer votre email">
          </mat-form-field>
          <span>
            <mat-form-field class="code">
         
              <mat-select [(ngModel)]="selected" name="code" required>
                <mat-option *ngFor="let c of codes" [value]="c.dial_code">
                  {{c.dial_code}} - ({{ c?.name }})
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width phone">
              <mat-label>Téléphone</mat-label>
              <input matInput type="tel" name="phone" #phone="ngModel" required [(ngModel)]="telephone"
                placeholder="Entrer votre numero">
            </mat-form-field>
          </span>

        </form>

      </ion-col>
      <ion-col size="12">
        <div style="margin-left: 16px;margin-bottom: 2px;" id="recaptcha-container"></div>
      </ion-col>
    </ion-row>
  </ion-grid>




  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal">
    <label class="modal__bg" for="modal-2"></label>
    <div class="modal__inner">
      <label class="modal__close" for="modal-2"></label>

      <h2 style="font-size: 20px;
      font-weight: 200;">Choisir un avatar</h2>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
                <button (click)="choseAvatr('http://localhost:5000/1.png')" mat-raised-button>
                  <img src="http://localhost:5000/1.png" alt="" />
                  </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button (click)="choseAvatr('http://localhost:5000/2.png')" mat-raised-button>
                <img src="http://localhost:5000/2.png" alt="" />
          
            </button>
     
        </mat-grid-tile>
        <mat-grid-tile>
            <button (click)="choseAvatr('http://localhost:5000/3.png')" mat-raised-button>
                <img src="http://localhost:5000/3.png" alt="" />
          
              </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button (click)="choseAvatr('http://localhost:5000/4.png')" mat-raised-button>
                <img src="http://localhost:5000/4.png" alt="" />
          
              </button>
   
        </mat-grid-tile>
        <mat-grid-tile>
            <button (click)="choseAvatr('http://localhost:5000/5.png')" mat-raised-button>
                <img src="http://localhost:5000/5.png" alt="" />
          
              </button>
 
        </mat-grid-tile>
        <mat-grid-tile>
            <button (click)="choseAvatr('http://localhost:5000/6.png')" mat-raised-button>
                <img src="http://localhost:5000/6.png" alt="" />
          
              </button>
    
        </mat-grid-tile>
      </mat-grid-list>

  
      <div>
          <button class="mat-raised-btn" mat-raised-button>Choisir dans la galérie</button>
          <button class="mat-raised-btn" mat-raised-button>Prendre une photo</button>
      </div>

  

    </div>
  </div>


</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <button style="float: right;" [disabled]="nom.errors?.required 
        || prenom.errors?.required 
        || email.errors?.required
        || phone.errors?.required
        || user?.photo == ''
        || selected == ''" (click)="signIn()" mat-button>Suivant</button>
  </ion-toolbar>
</ion-footer>