.img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: border-radius; // Assurez-vous que $border-radius est défini quelque part
}

mat-form-field {
  @extend .img !optional;
  width: 100%;
}

ion-grid {
  background: url('../../assets/img/form.png');
  background-color: rgba(95, 90, 90, 0.5); /* Fond semi-transparent noir */
  background-repeat: no-repeat;
  background-size: cover;
}
