<ion-content [scrollY]="false">
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-form-field style="width: 24%; float: right; margin-bottom: -18px">
          <mat-select
            [(ngModel)]="language"
            (ngModelChange)="translateLanguageTo($event)"
            name="lang"
          >
            <mat-option
              *ngFor="let language of languages"
              [value]="language.code"
            >
              <div class="lang-container">
                <span> {{language?.language}} </span>
                <img [src]="language?.flag" class="flag" alt="" />
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col>
        <form class="example-form">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label> {{'USER_INFO.LASTNAME' | translate}}</mat-label>
                  <input
                    matInput
                    type="text"
                    name="nom"
                    #nom="ngModel"
                    required
                    [(ngModel)]="user.nom"
                    placeholder="Entrer votre nom"
                  />
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label> {{'USER_INFO.FIRSTNAME' | translate}}</mat-label>
                  <input
                    matInput
                    type="text"
                    name="prenom"
                    #prenom="ngModel"
                    required
                    [(ngModel)]="user.prenom"
                    placeholder="Entrer votre prénom"
                  />
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label>
                    {{'USER_INFO.EMAIL_ADDRESS' | translate}}</mat-label
                  >
                  <input
                    matInput
                    type="email"
                    name="email"
                    #email="ngModel"
                    required
                    [(ngModel)]="user.email"
                    placeholder="Entrer votre email"
                  />
                </mat-form-field>
              </ion-col>

              <span>
                <mat-form-field class="code">
                  <mat-select [(ngModel)]="selected" name="code" required>
                    <mat-option *ngFor="let c of codes" [value]="c.dial_code">
                      {{c.dial_code}} - ({{ c?.name }})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width phone">
                  <mat-label>
                    {{'USER_INFO.PHONE_NUMBER' | translate}}</mat-label
                  >
                  <input
                    matInput
                    type="tel"
                    name="phone"
                    #phone="ngModel"
                    required
                    [(ngModel)]="telephone"
                    placeholder="Entrer votre numero"
                  />
                </mat-form-field>
              </span>
              <ion-col size="12"> </ion-col>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label> {{'USER_INFO.PASSWORD' | translate}}</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'text' : 'password'"
                    name="passwordId"
                    #passwordId="ngModel"
                    minlength="8"
                    required
                    [(ngModel)]="user.password"
                    placeholder=""
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon
                      >{{hide ? 'visibility' : 'visibility_off'}}</mat-icon
                    >
                  </button>
                </mat-form-field>
                <div
                  style="font-size: 11px; margin-left: 1px; width: 272px"
                  *ngIf="passwordId.errors?.minlength"
                >
                  {{'REQUIRED_8' | translate}}
                </div>
              </ion-col>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label
                    >{{'USER_INFO.CONFIRM_PASSWORD' | translate}}</mat-label
                  >
                  <input
                    matInput
                    name="conf"
                    #conf="ngModel"
                    required
                    [(ngModel)]="user.conf"
                    placeholder=""
                    [type]="hideC ? 'text' : 'password'"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hideC = !hideC"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideC"
                  >
                    <mat-icon
                      >{{hideC ? 'visibility' : 'visibility_off'}}</mat-icon
                    >
                  </button>
                </mat-form-field>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
      <ion-col size="12">
        <div
          style="margin-left: 16px; margin-bottom: 2px"
          id="recaptcha-container"
        ></div>
      </ion-col>
      <ion-col size="12">
        <div class="condition">
          {{'TEXT1' | translate}}
          <a routerLink="/privacy"> {{'POLICY_TEXT' | translate}} </a>
          {{'TEXT2' | translate}}
          <a routerLink="/conditions"> {{'CONDITIONS_TEXT' | translate}} </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col class="footer-btn">
        <button
          style="float: right"
          [disabled]="nom.errors?.required 
                || passwordId.errors?.required
                || conf.errors?.required
                || prenom.errors?.required 
                || email.errors?.required
                || phone.errors?.required
                || selected == ''"
          (click)="signup()"
          mat-button
        >
          {{'REGISTER_ACCEPT' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
