<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div (click)="shwModal()">
          <label for="modal-2">
            <img class="img-user" src="../../assets/img/Illustration 5-05.png" alt="">
          </label>

        </div>

      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <form class="example-form">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label>Nom</mat-label>
                  <input matInput type="text" name="nom" #nom="ngModel" required [(ngModel)]="user.nom"
                    placeholder="Entrer votre nom">
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label>Prénoms</mat-label>
                  <input matInput type="text" name="prenom" #prenom="ngModel" required [(ngModel)]="user.prenom"
                    placeholder="Entrer votre prénom">
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" name="email" #email="ngModel" required [(ngModel)]="user.email"
                    placeholder="Entrer votre email">
                </mat-form-field>
              </ion-col>
           
              <span>
                <mat-form-field class="code">

                  <mat-select [(ngModel)]="selected" name="code" required>
                    <mat-option *ngFor="let c of codes" [value]="c.dial_code">
                      {{c.dial_code}} - ({{ c?.name }})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width phone">
                  <mat-label>Téléphone</mat-label>
                  <input matInput type="tel" name="phone" #phone="ngModel" required [(ngModel)]="telephone"
                    placeholder="Entrer votre numero">
                </mat-form-field>
              </span>
              <ion-col size="12">


              </ion-col>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label>Mot de passe</mat-label>
                  <input matInput  [type]="hide ? 'text' : 'password'" name="passwordId" #passwordId="ngModel" minlength="8" required
                    [(ngModel)]="user.password" placeholder="">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                </mat-form-field>
                <div style="font-size: 11px;margin-left: 1px; width: 272px;" *ngIf="passwordId.errors?.minlength">
                  Le mot de passe doit contenir au moins 8 caractères
                </div>
              </ion-col>
              <ion-col size="12">
                <mat-form-field class="example-full-width">
                  <mat-label>Confirmer mot de passe</mat-label>
                  <input matInput name="conf" #conf="ngModel" required [(ngModel)]="user.conf" placeholder=""
                  [type]="hideC ? 'text' : 'password'">
                  <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
                      <mat-icon>{{hideC ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                </mat-form-field>
              </ion-col>
            </ion-row>
          </ion-grid>




        </form>

      </ion-col>
      <ion-col size="12">
        <div style="margin-left: 16px;margin-bottom: 2px;" id="recaptcha-container"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal">
    <label class="modal__bg" for="modal-2"></label>
    <div class="modal__inner">
      <label class="modal__close" for="modal-2"></label>
      <h2 style="font-size: 20px;font-weight: 200;">Choisir un avatar</h2>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/1.png')" mat-button>
            <img src="https://www.teepzy.com/1.png" alt="" />
          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/1.png' "  class="material-icons check">
              check
            </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/2.png')" mat-button>
            <img src="https://www.teepzy.com/2.png" alt="" />
          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/2.png'"  class="material-icons check">
            check
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/3.png')" mat-button>
            <img src="https://www.teepzy.com/3.png" alt="" />

          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/3.png' "  class="material-icons check">
            check
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/4.png')" mat-button>
            <img src="https://www.teepzy.com/4.png" alt="" />

          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/4.png' "  class="material-icons check">
            check
          </span>

        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/5.png')" mat-button>
            <img src="https://www.teepzy.com/5.png" alt="" />

          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/5.png' "  class="material-icons check">
            check
          </span>

        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="choseAvatr('https://www.teepzy.com/6.png')" mat-button>
            <img src="https://www.teepzy.com/6.png" alt="" />

          </button>
          <span *ngIf="user?.photo == 'https://www.teepzy.com/6.png' "  class="material-icons check">
            check
          </span>
        </mat-grid-tile>
      </mat-grid-list>


      <!--div>
        <button (click)="selectImage()" class="mat-raised-btn" mat-raised-button>Choisir une photo</button>
      </div-->
      <div>
        <img style="width: 42%;" *ngIf="dispImags.length != 0" alt="" class="user-profile" [src]="dispImags[0]">
      </div>

      <ion-row>

        <ion-col size="2">

        </ion-col>
        <ion-col size="8">
          <ion-button (click)="shwModal()" [disabled]="user?.photo == ''" expand="block" shape="round">
            <label class="" for="modal-2">
              Valider
            </label>
          </ion-button>

        </ion-col>
        <ion-col size="2">

        </ion-col>
      </ion-row>

    </div>
  </div>


</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <button style="float: right;" [disabled]="nom.errors?.required 
    || passwordId.errors?.required
    || conf.errors?.required
        || prenom.errors?.required 
        || email.errors?.required
        || phone.errors?.required
        || user?.photo == ''
        || selected == ''" (click)="signIn()" mat-button>Suivant</button>
  </ion-toolbar>
</ion-footer>