
ion-grid {

  margin: 0 auto;
  background-image: url('../../assets/img/plan.jpg');

  background-size: cover;
  background-position: center;
}

.illustration1 {
  width: 70.5%;
  display: flex;
  margin-left: -150px;
  margin-right: auto;
  margin-top: 115px;
}

.illustration2 {
  width: 24.9%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
  color: #ea4e50;
  line-height: 20px;
  font-size: 14px;
}

.text-bottom {
  text-align: center;
  display: block;
}

button {
  width: 2px; /* Adjust width as desired */
  height: 10px; /* Adjust height as desired */
  margin: 10px; /* Add spacing around buttons */
  display: inline-block; /* Allow buttons to sit side-by-side */
 
  color: #ea4e4f;
}
