img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.illustration{
    width: 47%;
}

h3{
    text-align: center;
    color: #ea4e50;
    line-height: 37px;
    font-size: 14px;
}

.text-bottom{
    text-align: center;
    display: block;
}

button{
    color: #ea4e4f;
}