<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <button class="mat-header-btn" mat-button [matMenuTriggerFor]="menu">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="goToEdit()" mat-menu-item>Editer</button>
      <button mat-menu-item>Parametres</button>
    </mat-menu>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="banner">
    <div class="toggle" (click)="switchProfile()" (touchstart)="swipe($event, 'start')"
      (touchend)="swipe($event, 'end')">
      <div *ngIf="user?.photo != null">
        <img class="round-img-profile" [src]="user?.photo" alt="">
      </div>
      <div class="round-img" *ngIf="user?.photo == null"
        [ngStyle]="{'color': p?.backgroundColor == '#fff' ? 'black' : 'white' }">
        {{user?.prenom | slice:0:1| uppercase}} {{user?.nom | slice:0:1 | uppercase}}
      </div>
      <span (click)="switchProfile()" *ngIf="isProProfile" class="material-icons toggle_o">
        toggle_off
      </span>
      <span (click)="switchProfile()" *ngIf="!isProProfile" class="material-icons toggle_o">
        toggle_on
      </span>
    </div>
    <div class="text-banner">
      <span class="user-pseudo">

        <span *ngIf="isProProfile" [@enterAnimation]> {{user?.pseudoPro}}</span>
        <span *ngIf="!isProProfile" [@enterAnimation]>{{user?.pseudoIntime}}</span>
      </span><br>

      <span>{{user?.metier}} </span><br>
      <span>{{user?.localisation}}</span>
    </div>
    <div>
      <mat-card class="card-banner">{{relationsCount || '0' }} Teepzer <span *ngIf="relationsCount?.length > 1">s</span>
      </mat-card>
    </div>
  </div>

  <div class=”mat-content” (touchstart)="swipe2($event, 'start')" (touchend)="swipe2($event, 'end')">
    <mat-tab-group [(selectedIndex)]="selectedTab" mat-align-tabs="center">
      <mat-tab label="PROFIL">

        <ion-grid>
          <ion-row *ngIf="isProProfile">


            <ion-col size="12">



              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <button mat-button class="rs-button" *ngFor="let rs of user?.socialsPro"
                      [matMenuTriggerFor]="menu1">
                      <mat-card class="rs-card">
                        <ion-icon class="rs-btn" [name]="rs?.icon"></ion-icon>
                      </mat-card>
                      <mat-menu #menu1="matMenu">
                        <button mat-menu-item>{{rs?.url}}</button>
                      </mat-menu>
                    </button>
                  </div>

                </div>
                <a *ngIf="user?.socialsPro.length > 3" class="carousel-control-prev" href="#carouselExampleControls"
                  role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a *ngIf="user?.socialsPro.length > 3" class="carousel-control-next" href="#carouselExampleControls"
                  role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>


            </ion-col>


          </ion-row>
          <ion-row *ngIf="!isProProfile">


            <ion-col size="12">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <button mat-button class="rs-button" *ngFor="let rs of user?.socialsAmical"
                      [matMenuTriggerFor]="menu1">
                      <mat-card class="rs-card">
                        <ion-icon class="rs-btn" [name]="rs?.icon"></ion-icon>
                      </mat-card>
                      <mat-menu #menu1="matMenu">
                        <button mat-menu-item>{{rs?.url}}</button>
                      </mat-menu>
                    </button>
                  </div>

                </div>
                <a *ngIf="user?.socialsAmical.length > 3" class="carousel-control-prev" href="#carouselExampleControls"
                  role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a *ngIf="user?.socialsAmical.length > 3" class="carousel-control-next" href="#carouselExampleControls"
                  role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            </ion-col>




          </ion-row>

          <ion-row>
            <ion-col size="12">

              <h2>
                A propos
              </h2>
              <p>
                {{user?.bio}}
              </p>

              <div class="site-link">
                <a href=""> {{ user?.siteweb }} </a>
              </div>
            </ion-col>
            <ion-col size="12" *ngIf="isProProfile">
              <h2>
                Compétences
              </h2>
              <span>
                <ion-chip *ngFor="let t of user?.tags">
                  <ion-label color="primary">{{t}}</ion-label>
                </ion-chip>
              </span>
            </ion-col>

            <ion-col size="12" *ngIf="!isProProfile">
              <h2>
                Hobbies
              </h2>
              <span>
                <ion-chip *ngFor="let h of user?.hobbies">
                  <ion-label color="primary">{{h}}</ion-label>
                </ion-chip>
              </span>
            </ion-col>
            <ion-col size="12">
              <h2>
                Mes Favoris

              </h2>
            </ion-col>
            <ion-col size="12">
              <mat-paginator *ngIf="listFavorites?.length > 0" [length]="listFavorites?.length" [pageSize]="pageSize"
                (page)="pageEvent = getPaginatorData($event)">
              </mat-paginator>
            </ion-col>
            <ion-col size="6" *ngFor="let lt of listFavorites | slice: lowValue : highValue  ;trackBy: trackByFn " (click)="goToDetailTeepz(lt?._id)">

              <mat-card class="example-card">
                <mat-card-header>

                </mat-card-header>
                <mat-card-content
                  [ngStyle]="{'color': lt?.backgroundColor == '#fff' ? 'black' : 'white',
                   'background':  lt?.image_url != '' ? 'url(' + lt?.image_url + ')' : lt?.backgroundColor, 'background-position': 'center center', 'background-size': '100%', 'background-repeat': 'no-repeat' }">
                  <p [ngStyle]="{'margin-top': lt?.content.length < 130 ? '62px' : '0' }" class="mat-p">

                    {{lt?.content}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                        <div>
                          <img *ngIf="lt?.userPhoto_url != null" class="img-teepz" [src]="lt?.userPhoto_url" alt="">
                          <div *ngIf="lt?.userPhoto_url == null" class="round-img-post">
                            {{lt?.userPseudo | slice:0:1| uppercase}}
                          </div>
                        </div>
                      </ion-col>
                      <ion-col class="pseudo-txt">
                        <strong>
                          {{lt?.userPseudo}}
                        </strong>
                        <small>
                          {{lt?.circle || '' }}
                        </small><br>
                        <span *ngIf="time(lt?.createdAt) != 'il y a un mois'">
                          <span *ngIf="time(lt?.createdAt) != 'il y a un jour'">
                            <span *ngIf="time(lt?.createdAt) != 'il y a une minute'">
                              <span class="time" *ngIf="time(lt?.createdAt) != 'il y a une heure'">
                                {{time(lt?.createdAt) }}
                              </span>
                            </span>
                          </span>
                        </span>
                        <span class="time" *ngIf="time(lt?.createdAt) == 'il y a une minute'">
                          il y a 1 minute
                        </span>
                        <span class="time" *ngIf="time(lt?.createdAt) == 'il y a une heure'">
                          il y a 1 heure
                        </span>
                        <span class="time" *ngIf="time(lt?.createdAt) == 'il y a un jour'">
                          il y a 1 jour
                        </span>
                        <span class="time" *ngIf="time(lt?.createdAt) == 'il y a un mois'">
                          il y a 1 mois
                        </span>

                      </ion-col>
                    </ion-row>
                  </ion-grid>


                </mat-card-actions>
              </mat-card>

            </ion-col>
            <ion-col size="12" *ngIf="listFavorites?.length == 0">
              <div>
                Aucun post ajouté aux favoris
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>

      </mat-tab>
      <mat-tab label="PORTFOLIO">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h2>
                Projets
                <button (click)="presentAddProjectModal()" mat-button>
                  <span class="material-icons add-icon">
                    add
                  </span>
                </button>

              </h2>
            </ion-col>
            <ion-col *ngFor="let p of listProjects">
              <img class="projet-img" [src]="p?.photo" alt="">
              <div class="text-over">
                <label for="">
                  {{p?.nom}}
                </label>
              </div>

            </ion-col>

          </ion-row>
        </ion-grid>
      </mat-tab>
      <mat-tab label="BOUTIQUE">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h2>
                E-Shop
                <button (click)="presentAddProductModal()" mat-button>
                  <span class="material-icons add-icon">
                    add
                  </span>
                </button>

              </h2>
            </ion-col>
            <ion-col size="6" *ngFor="let p of listProducts">

              <span>
                <div class="text-over shop-price">
                  <label for="">
                    12$
                  </label>
                </div>
              </span>
              <img class="product-img" [src]="p?.photo" alt="">
              <div class="text-over">
                <label for="">
                  {{p?.nom}}
                </label>
              </div>

            </ion-col>

          </ion-row>
        </ion-grid>
      </mat-tab>

      <mat-tab label="MES TEEPZ">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h2>
                Teepz
              </h2>
            </ion-col>
            <ion-col size="12">
              <mat-paginator *ngIf="listTeepz?.length > 0" [length]="listTeepz?.length" [pageSize]="pageSize"
                (page)="pageEvent = getPaginatorDataTeepzr($event)">
              </mat-paginator>
            </ion-col>
            <ion-col size="6" *ngFor="let lt of listTeepz | slice: lowValue : highValue  ;trackBy: trackByFn " (click)="goToDetailTeepz(lt?._id)" >

              <mat-card class="example-card">
                <mat-card-header>

                </mat-card-header>
                <mat-card-content
                  [ngStyle]="{'color': lt?.backgroundColor == '#fff' ? 'black' : 'white', 'background':  lt?.image_url != '' ? 'url(' + lt?.image_url + ')' : lt?.backgroundColor, 'background-position': 'center center', 'background-size': '100%', 'background-repeat': 'no-repeat' }">
                  <p [ngStyle]="{'margin-top': lt?.content.length < 130 ? '62px' : '0' }" class="mat-p">
                    {{lt?.content}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                        <div>
                          <img *ngIf="lt?.userPhoto_url != null" class="img-teepz" [src]="lt?.userPhoto_url" alt="">

                          <div *ngIf="lt?.userPhoto_url == null" class="round-img-post">
                            {{lt?.userPseudo | slice:0:1| uppercase}} {{lt?.nom | slice:0:1 | uppercase}}
                          </div>
                        </div>
                      </ion-col>
                      <ion-col class="pseudo-txt">
                        <strong>
                          {{lt?.userPseudo}}
                        </strong><br>
                        <small>
                          {{lt?.circle || '' }}
                        </small>
                        <span class="time"
                          *ngIf="(time(lt?.createdAt) != 'il y a une heure') ||(time(lt?.createdAt) == 'il y a un an') || (time(lt?.createdAt) == 'il y a un mois') || (time(lt?.createdAt) == 'il y a une semaine') || (time(p?.createdAt) != 'il y a un jour') ">
                          {{time(lt?.createdAt) }}
                        </span>
                        <span class="time" *ngIf="time(lt?.createdAt) == 'il y a une heure'">
                          il y a 1 heure
                        </span>
                        <span class="time" *ngIf="time(lt?.createdAt) == 'il y a un jour'">
                          il y a 1 jour
                        </span>

                      </ion-col>
                    </ion-row>
                  </ion-grid>


                </mat-card-actions>
              </mat-card>

            </ion-col>

          </ion-row>
        </ion-grid>
      </mat-tab>
    </mat-tab-group>
  </div>


</ion-content>