<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
         
        </ion-col>
        <ion-col *ngIf="previousRoute == 'mesTeepz' && previousBackUrl =='null'"  >
          <div *ngIf="!showSearch" class="example-button-container">
            <!--button (click)="presentPostEditModal()" class="btn-icon" mat-mini-fab
              aria-label="Example icon button with a home icon">
              <mat-icon>create</mat-icon>
            </button-->
           
            <button (click)="presentAlertConfirm()" style="text-align: center;" mat-mini-fab aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span *ngIf="showSearch" style="display: flex;">
            <button (click)="showSearch = false" style="font-size: 29px;" mat-button>
              <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
            <form style="margin-top: 72px; margin-bottom: -41px;" class="example-form">
              <mat-form-field class="example-full-width search-input mat-form-field">
                <mat-label>Rechercher</mat-label>
                <input [(ngModel)]="search" name="search" matInput placeholder="Taper pour filtrer">
              </mat-form-field>
            </form>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>



  </ion-toolbar>
</ion-header>
  
  <ion-content [fullscreen]="true" [scrollY]="false">
  
  
    <ion-refresher slot="fixed">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <ion-slides *ngIf="post" pager="true" [options]="slideOpts">
      <ion-slide 
        [ngClass]="{'ion-slide-img': post?.image_url != '', 'ion-slide-no-img': post?.image_url == ''}" [ngStyle]="{
          'color': post?.backgroundColor == '#fff' && post?.image_url == ''? 'black' : 'white', 
          'background-image':  post?.image_url != '' ? 'url(' + post?.image_url + ')' : '',
          'background-color': post?.image_url == '' ? post?.backgroundColor : 'black',
          'background-position': 'center center', 
          'background-size': 'cover', 
          'background-repeat': 'no-repeat'
        }">
  
        <div (click)="playVideo(post?.video_url)" class="post-txt">
          <div *ngIf="post?.video_url">
            <div>
              <video #videoPlayer playsinline preload="metadata">
                <source [src]="sanitizer.bypassSecurityTrustResourceUrl(post?.video_url)" type="video/mp4" />
              </video>
              <ion-grid>
                <ion-row>
                  <ion-col>
  
                  </ion-col>
                  <ion-col>
                    <button  *ngIf="!currentPlaying" class="play-btn" mat-button>
                      <ion-icon name="play-outline"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
          <div class="header-slide">
            <ion-grid>
              <ion-row class="infos">
                <ion-col size="12">
                  <span *ngIf="post?.reposterId == userId" style="font-size: small;">
                    Vous avez partagé le teepz de
                  </span>
                </ion-col>
                <ion-col *ngIf="!post?.image_url && !post?.video_url" [ngStyle]="{'background': post?.image_url ? 'rgb(0 0 0 / 18%)' : '#ffffff00',
                'font-weight': post?.image_url ? '800': '100' }">
                  <div>
                    <img *ngIf="post?.userPhoto_url" class="img" [src]="post?.userPhoto_url" alt="">
                  </div>
  
                  <div>
                    <div *ngIf="post?.userPhoto_url == '' || post?.userPhoto_url == null " class="round-img"
                      [ngStyle]="{'color': post?.backgroundColor == '#fff' ? 'black' : 'white' }">
                      {{post?.userPseudo | slice:0:1| uppercase}}
                    </div>
                  </div>
  
                </ion-col>
                <ion-col *ngIf="!post?.image_url && !post?.video_url" [ngStyle]="{'background': post?.image_url ? 'rgb(0 0 0 / 18%)' : '#ffffff00',
                 'font-weight': post?.image_url ? '800': '100' }" style="    text-align: left;">
                  <strong>
                    {{post?.userPseudo}}
                  </strong><br>
                  <small>
                    {{post?.circle || '' }}
                  </small>
                  <span *ngIf="post?.createdAt">
                    <span *ngIf="time(post?.createdAt) != 'il y a un mois'">
                      <span *ngIf="time(post?.createdAt) != 'il y a un jour'">
                        <span *ngIf="time(post?.createdAt) != 'il y a une minute'">
                          <span class="time" *ngIf="time(post?.createdAt) != 'il y a une heure'">
                            {{time(post?.createdAt) }}
                          </span>
                        </span>
                      </span>
                    </span>
                    <span class="time" *ngIf="time(post?.createdAt) == 'il y a une minute'">
                      il y a 1 minute
                    </span>
                    <span class="time" *ngIf="time(post?.createdAt) == 'il y a une heure'">
                      il y a 1 heure
                    </span>
                    <span class="time" *ngIf="time(post?.createdAt) == 'il y a un jour'">
                      il y a 1 jour
                    </span>
                    <span class="time" *ngIf="time(post?.createdAt) == 'il y a un mois'">
                      il y a 1 mois
                    </span>
                  </span>
            
                </ion-col>
  
              </ion-row>
            </ion-grid>
  
  
          </div>
          <p class="content" *ngIf="!post?.image_url && !post?.video_url"
            [ngStyle]="{'font-size': post?.content.length > 60 ? '17px' : '23px' }" >
            {{ post?.content }}
          </p>
  
  
          <div [ngStyle]="{'bottom': post?.image_url || post?.video_url ? '-30px' : '57px' }" class="match-img">
      
            <div style="display: flex;margin-top: 12px;" *ngIf="!post?.image_url && !post?.video_url">
              <span>MATCH</span>
              <span style="margin-left: 6px;" *ngFor="let m of post?.matches | slice:0:3;">
                <img class="match-image" *ngIf="m?.photo != null" [src]="m?.photo" alt="">
                <div class="match-pseudo" *ngIf="m?.photo == null"
                  [ngStyle]="{'color': post?.backgroundColor == '#fff' ? 'black' : 'white' }">
                  {{m?.prenom | slice:0:1| uppercase}}
                </div>
  
              </span>
              <span *ngIf="post?.matches?.length == 0"> 0</span>
              <span *ngIf="post?.matches?.length > 3">
                + {{post.matches?.length - 3}} 
              </span> <br>
            </div>
  
            <div class="content-down" *ngIf="post?.image_url || post?.video_url"
              [ngStyle]="{'font-size': post?.content.length > 20 ? '14px' : '17px', 'color': 'white', 'font-weight': '800' }"
              >
              <span style="color: #ffff;margin-left: 50px !important;" *ngIf="post?.image_url || post?.video_url">
                <strong>
                  @{{post?.userPseudo}} -
                </strong>
                <span *ngIf="time(post?.createdAt) != 'il y a un mois'">
                  <span *ngIf="time(post?.createdAt) != 'il y a un jour'">
                    <span *ngIf="time(post?.createdAt) != 'il y a une minute'">
                      <span class="time" *ngIf="time(post?.createdAt) != 'il y a une heure'">
                        {{time(post?.createdAt) }}
                      </span>
                    </span>
                  </span>
                </span>
                <span class="time" *ngIf="time(post?.createdAt) == 'il y a une minute'">
                  il y a 1 minute
                </span>
                <span class="time" *ngIf="time(post?.createdAt) == 'il y a une heure'">
                  il y a 1 heure
                </span>
                <span class="time" *ngIf="time(post?.createdAt) == 'il y a un jour'">
                  il y a 1 jour
                </span>
                <span class="time" *ngIf="time(post?.createdAt) == 'il y a un mois'">
                  il y a 1 mois
                </span>
              </span><br>
    
              {{ post?.content }}
            </div>
          </div>
  
          <ion-grid>
            <ion-row [ngStyle]=" {'margin-top': !post?.image_url && !post?.video_url? '-111px' : '0'}">
              <ion-col *ngIf="post?.image_url|| post?.video_url">
                <div style="float: right;">
                  <img *ngIf="post?.userPhoto_url != null " class="img img-media" [src]="post?.userPhoto_url" alt="">
                </div>
  
                <div style="float: right;" *ngIf="post?.image_url || post?.video_url">
                  <div *ngIf="post?.userPhoto_url == '' || post?.userPhoto_url == null " class=" pseudo-media"
                    [ngStyle]="{'color': post?.backgroundColor == '#fff' ? 'black' : 'white' }">
                    {{post?.userPseudo | slice:0:1| uppercase}}
                  </div>
                </div>
  
              </ion-col>
  
              <ion-col size="12">
                <section>
                  <div class="example-button-row">
                    <div class="example-flex-container">
                      <div class="example-button-container " (click)="presentCommentModal(post)">
                        <button mat-fab class="mat-button" color="primary"
                          aria-label="Example icon button with a delete icon">
                          <ion-icon style="font-size: 26px;margin-top: -3px;" name="chatbubble-outline"></ion-icon>
                        </button>
                      </div>
  
                    </div>
                  </div>
  
                </section>
              </ion-col>
              <ion-col size="12" *ngIf="post?.favorite == true">
                <section>
                  <div class="example-button-row">
                    <div class="example-flex-container">
                      <div class="example-button-container" (click)="removeFavorite(post)">
                        <button mat-fab class="mat-button" color="primary"
                          aria-label="Example icon button with a delete icon">
                          <ion-icon style="    font-size: large;margin-top: -3px;" name="star"></ion-icon>
                        </button>
                      </div>
  
                    </div>
                  </div>
  
                </section>
              </ion-col>
              <ion-col size="12" *ngIf="post?.favorite != true">
                <section>
                  <div class="example-button-row">
                    <div class="example-flex-container">
                      <div class="example-button-container" (click)="addFavorite(post)">
                        <button mat-fab class="mat-button" color="primary"
                          aria-label="Example icon button with a delete icon">
                          <ion-icon style="font-size: large;margin-top: -3px;" name="star-outline"></ion-icon>
  
                        </button>
                      </div>
  
                    </div>
                  </div>
  
                </section>
              </ion-col>
              <ion-col size="12">
                <section>
                  <div class="example-button-row">
                    <div class="example-flex-container">
                      <div class="example-button-container">
                        <button mat-fab color="primary" (click)="presentShareModal(post)" class="mat-button"
                          aria-label="Example icon button with a delete icon">
                          <span style="    margin-top: -4px;" class="material-icons">
                            redo
                          </span>
                        </button>
                      </div>
  
                    </div>
                  </div>
                </section>
              </ion-col>
              <ion-col size="12">
                <section>
                  <div class="example-button-row">
                    <div class="example-flex-container">
                      <div class="example-button-container" (click)="presentLinkModal(post)">
                        <button mat-fab color="primary" class="mat-button"
                          aria-label="Example icon button with a delete icon">
                          <span style="    margin-top: -4px;" class="material-icons">
                            group_add
                          </span>
                        </button>
                      </div>
  
                    </div>
                  </div>
  
                </section>
              </ion-col>
              <ion-col size="12">
                <div class="filigrane" style="float: right;font-weight: 800;font-size: 7px;"
                  *ngIf="post?.image_url || post?.video_url">
                  <span>MATCHES</span>
                  <span style="margin-top: 6px;" *ngIf="post?.matches?.length == 0"> <br> 0</span>
                  <span style="margin-top: 6px;" *ngIf="post?.matches?.length > 3">+ {{post.matches?.length - 3}} </span> <br>
                  <br>
              
                   </div>
                  
              </ion-col>
              <ion-col size="12">
                <span class="match-align" style="margin-left: 6px;" *ngFor="let m of post?.matches | slice:0:3;">
                  <img class="match-image" *ngIf="m?.photo !== null" [src]="m?.photo" alt="">
                  <div class="match-pseudo" *ngIf="m?.photo == null"
                  [ngStyle]="{'color': post?.backgroundColor == '#fff' ? 'black' : 'white' }">
                  {{m?.prenom | slice:0:1| uppercase}}
                </div>
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
  
  
      </ion-slide>
  

    </ion-slides>
  
    <input type="radio" *ngIf="shareLink" name="modal2" value="open" id="modal-open2" class="modal-radio" />
    
    <input type="radio" name="modal" value="open" id="modal-open" class="modal-radio" />
    <div class="modal" (click)="dismiss()" *ngIf="globals?.showBackground "
      [ngStyle]="{'opacity': globals?.showBackground == true ? '1' : '0' }">
  
    </div>
  
  
  </ion-content>