/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~pretty-checkbox/src/pretty-checkbox.scss';


.example-full-width{
    width: 80%;
  
}

// for iphone 5
.swiper-wrapper{
    color: white;
    height: -webkit-fill-available;
    border-radius: 40px 40px 1px 0px;
    margin-top: 25px;
}
.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: 0px solid rgba(0,0,0,.12);
}
/*

color: white;
    height: 401px;
    border-radius: 40px 40px 1px 0px;
    margin-top: 5px;
*/
.mat-mini-fab.mat-accent{
    background-color: #cfcfcf;;
}

.mat-tab-body-wrapper{
    overflow: scroll !important;
}

::ng-deep .mat-tab-label {
    pointer-events: none;
 }

 .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
     display: none !important;
 }
ion-modal{
    height: 404px;
    bottom: 0 !important;
    border-radius: 39px 45px 1px 1px;
}

.sc-ion-modal-md  .backdrop-no-tappable{
    background: black;
    height: 804px;

}

.my-custom-class {
    height: 100%;
    top: 0;
    bottom: 0 !important;
    border-radius: 0;

}

.add-project-class{
    height: 100%;
    top: 0;
    bottom: 0 !important;
    border-radius: 0;
}
.sc-ion-modal-md-h{
    top: unset ;

}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #ea4e4f;
}

  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
  
  }