/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~pretty-checkbox/src/pretty-checkbox.scss';


.example-full-width{
    width: 80%; 
}

#myVideo{
    border-radius: 40px 40px 1px 0px !important;
}

// for iphone 5
.swiper-wrapper{
    color: white;
    height: -webkit-fill-available;
    border-radius: 40px 40px 1px 0px;
    margin-top: 25px;
}
.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: 0px solid rgba(0,0,0,.12);
}
/*

color: white;
    height: 401px;
    border-radius: 40px 40px 1px 0px;
    margin-top: 5px;
*/
.mat-mini-fab.mat-accent{
    background-color: #cfcfcf;;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle, .mat-radio-inner-circle{
    border-color: #ea4d4f;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
    background-color: #ea4d4f;
}
::ng-deep .mat-tab-label {
    pointer-events: none;
 }

 .mat-menu-panel{
    min-width: 200px !important;
    margin-left: 10px !important;
 }
 .mat-tab-label{
    padding: 0 9px !important;
   }



 .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
     display: none !important;
 }
ion-modal{
    height: 404px;
    bottom: 0 !important;
    border-radius: 39px 45px 1px 1px;
}

.mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element{
    margin-left: 0 !important;
}

iframe{
    overflow:hidden;
}

.my-custom-class {
    height: 100%;
    top: 0;
    bottom: 0 !important;
    border-radius: 0;

}


.share-custom-class {
    height: 30% !important;
    top: 0;
    bottom: 0 !important;
    border-radius: 39px 45px 1px 1px;
    background: #F0EFEF;
}
.edit-post-custom-class{
    height: 100% !important;
    top: 0;
    bottom: 0 !important;
    background: #F0EFEF;
    border-radius: 0;

}


.add-project-class{
    height: 100%;
    top: 0;
    bottom: 0 !important;
    border-radius: 0;
}
.sc-ion-modal-md-h{
    top: unset ;

}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #ea4e4f;
}

 

  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #ea4d4f;
    border-radius: 81px;
    padding: 11px;
  }


  button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .modal, .modal2, .modal3{
    display: block !important;
      
  }
