<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>


    <!--  tabs aprt -->
    <ion-row>
      <ion-col size="12">
        <input class="input-s" type="text" name="searchValue" #searchValue="ngModel" [(ngModel)]='search.searchValue'
          (ngModelChange)="searchOn()" placeholder="Rechercher...">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="search.searchValue.length == 0">
      <ion-col size="12">
        <h4>
          Ce que vous avez peut-etre manqué
        </h4>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="search.searchValue.length == 0">
      <ion-col size="6" *ngFor="let lt of posts ;trackBy: trackByFn  ">
        <mat-card class="example-card">
          <mat-card-header>
          </mat-card-header>
          <mat-card-content class="feed-card-content" 
          [ngStyle]="{'color': lt?.backgroundColor == '#fff' ? 'black' : 'white', 'background':  lt?.image_url != '' ? 'url(' + lt?.image_url + ')' : lt?.backgroundColor }">
            <p [ngStyle]="{'margin-top': lt?.content.length < 130 ? '62px' : '0' }" class="mat-p">

              {{lt?.content}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <div>
                    <div class="round-img-post2">
                      {{lt?.userPseudo | slice:0:1| uppercase}}
                    </div>
                  </div>
                </ion-col>
                <ion-col class="pseudo-txt">
                  <strong>
                    {{lt?.userPseudo}}
                  </strong>
                  <small>
                    {{lt?.circle || '' }}
                  </small><br>
                  <span *ngIf="time(lt?.createdAt) != 'il y a un mois'">
                    <span *ngIf="time(lt?.createdAt) != 'il y a un jour'">
                    <span *ngIf="time(lt?.createdAt) != 'il y a une minute'">
                      <span class="time"
                      *ngIf="time(lt?.createdAt) != 'il y a une heure'">
                      {{time(lt?.createdAt) }}
                    </span>
                    </span>
                    </span>
                  </span>
                  <span class="time" *ngIf="time(lt?.createdAt) == 'il y a une minute'">
                    il y a 1 minute
                  </span>
                  <span class="time" *ngIf="time(lt?.createdAt) == 'il y a une heure'">
                    il y a 1 heure
                  </span>
                  <span class="time" *ngIf="time(lt?.createdAt) == 'il y a un jour'">
                    il y a 1 jour
                  </span>
                  <span class="time" *ngIf="time(lt?.createdAt) == 'il y a un mois'">
                    il y a 1 mois
                  </span>

                </ion-col>
              </ion-row>
            </ion-grid>


          </mat-card-actions>
        </mat-card>

      </ion-col>
      <ion-col size="12">
        <h4 class="n-found" *ngIf="posts?.length == 0">
          Aucun résultat de recherche
        </h4>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="search.searchValue.length != 0">
      <ion-col size="12">
        <div class="mat-content" (touchstart)="swipe2($event, 'start')" (touchend)="swipe2($event, 'end')">
          <mat-tab-group [(selectedIndex)]="selectedTab" color="warn" mat-align-tabs="center">
            <mat-tab label="Personnes">

              <div *ngFor="let c of users | slice: lowValueT : highValueT  ;trackBy: trackByFn ">
                <ion-item>
                  <div class="round-img-post">
                    {{c?.prenom | slice:0:1| uppercase}} {{c?.nom | slice:0:1 | uppercase}}
                  </div>
                  <ion-label class="p-seudo"> {{ c?.pseudoPro }}
                    <p>
                      {{ c?.circleMembersCount }} Contact <span *ngIf="c?.circleMembersCount > 1">s</span>
                    </p>
                  </ion-label>
                </ion-item>
              </div>
              <div *ngFor="let c of listTeepzrsToInvite | slice: lowValueT : highValueT  ;trackBy: trackByFn ">
                <ion-item>
                  <div class="round-img-post">
                    {{c?.prenom | slice:0:1| uppercase}} {{c?.nom | slice:0:1 | uppercase}}
                  </div>
                  <ion-label class="p-seudo"> {{ c?.pseudoPro }}
                    <p>
                      {{ c?.circleMembersCount }} Contact <span *ngIf="c?.circleMembersCount > 1">s</span>
                    </p>
                  </ion-label>

                  <ion-button *ngIf="c?.invited == false" (click)="openConfirmModal()" size="small">
                    <span>
                      Inviter
                    </span>
                    <!--ion-spinner *ngIf="loading" color="primary" name="dots"></ion-spinner-->
                  </ion-button>
                  <button class="cancel-btn" *ngIf="c?.invited" (click)="cancelInvitationToJoinCircle(c)"
                    mat-stroked-button>Annuler</button>

                </ion-item>

                <input class="modal-state" (click)="dismissConfirmModal()" id="modal-2" type="checkbox" />
                <div *ngIf="showModal" class="modal">
                  <label class="modal__bg" for="modal-2"></label>
                  <div class="modal__inner">
                    <label (click)="dismissConfirmModal()" class="modal__close" for="modal-2"></label>
                    <h2 class="alert-header" style="font-size: 20px;font-weight: 200;">Quel type d'invitation
                      voulez-vous envoyer?</h2>
                    <mat-grid-list cols="2" rowHeight="2:1">
                      <mat-grid-tile>
                        <div class="example-button-row">
                          <button (click)="sendInvitationToJoinCircle(c?._id, 'AMICAL')" mat-button color="warn"> Amical
                          </button>
                        </div>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-button-row">
                          <button (click)="sendInvitationToJoinCircle(c?._id, 'PRO')" mat-button
                            color="warn">Professionnel</button>
                        </div>
                      </mat-grid-tile>

                    </mat-grid-list>
                  </div>
                </div>

              </div>


              <h4 class="n-found" *ngIf="users?.length == 0 && listTeepzrsToInvite?.length == 0 ">
                Aucun résultat de recherche
              </h4>

            </mat-tab>
            <mat-tab label="Publications">

              <ion-grid>
                <ion-row>
                  <ion-col size="6" *ngFor="let lt of posts;trackBy: trackByFn ">

                    <mat-card class="example-card">
                      <mat-card-header>

                      </mat-card-header>
                      <mat-card-content 
                      [ngStyle]="{'color': lt?.backgroundColor == '#fff' ? 'black' : 'white', 'background':  lt?.image_url != '' ? 'url(' + lt?.image_url + ')' : lt?.backgroundColor }">
                        <p [ngStyle]="{'margin-top': lt?.content.length < 130 ? '62px' : '0' }" class="mat-p">
                          {{lt?.content}}
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <ion-grid>
                          <ion-row>
                            <ion-col size="4">
                              <div>
                                <div class="round-img-post2">
                                  {{lt?.userPseudo | slice:0:1| uppercase}} </div>
                              </div>
                            </ion-col>
                            <ion-col class="pseudo-txt">
                              <strong>
                                {{lt?.userPseudo}}
                              </strong>
                              <small>
                                {{lt?.circle || '' }}
                              </small><br>
                              <span class="time"
                                *ngIf="(time(lt?.createdAt) != 'il y a une heure') ||(time(lt?.createdAt) == 'il y a un an') || (time(lt?.createdAt) == 'il y a un mois') || (time(lt?.createdAt) == 'il y a une semaine') || (time(p?.createdAt) == 'il y a un jour') ">
                                {{time(lt?.createdAt) }}
                              </span>
                              <span class="time" *ngIf="time(lt?.createdAt) == 'il y a une heure'">
                                il y a 1 heure
                              </span>
                              <span class="time" *ngIf="time(lt?.createdAt) == 'il y a un jour'">
                                il y a 1 jour
                              </span>

                            </ion-col>
                          </ion-row>
                        </ion-grid>


                      </mat-card-actions>
                    </mat-card>

                  </ion-col>
                  <ion-col size="12">
                    <h4 class="n-found" *ngIf="posts?.length == 0">
                      Aucun résultat de recherche
                    </h4>
                  </ion-col>

                </ion-row>
              </ion-grid>

            </mat-tab>
            <mat-tab label="Projets">

              <ion-grid>
                <ion-row>
                  <ion-col size="6" *ngFor="let lt of projects;trackBy: trackByFn ">
                    <mat-card class="example-card">
                      <mat-card-header>
                      </mat-card-header>
                      <img [src]="lt?.photo" alt="">

                      <mat-card-content style="background: rgba(255, 255, 255, 0);">
                      </mat-card-content>
                      <mat-card-actions>
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <div>

                                <div class="round-img-post2">
                                  {{lt?.prenom | slice:0:1| uppercase}} {{lt?.nom | slice:0:1 | uppercase}}
                                </div>
                              </div>
                            </ion-col>
                            <ion-col>
                              <strong>
                                {{lt?.user.pseudoPro}}
                              </strong>
                              <small>
                                {{lt?.circle || '' }}
                              </small>
                              <span class="time"
                                *ngIf="(time(lt?.createdAt) != 'il y a une heure') ||(time(lt?.createdAt) == 'il y a un an') || (time(lt?.createdAt) == 'il y a un mois') || (time(lt?.createdAt) == 'il y a une semaine') || (time(p?.createdAt) == 'il y a un jour') ">
                                {{time(lt?.createdAt) }}
                              </span>
                              <span class="time" *ngIf="time(lt?.createdAt) == 'il y a une heure'">
                                il y a 1 heure
                              </span>
                              <span class="time" *ngIf="time(lt?.createdAt) == 'il y a un jour'">
                                il y a 1 jour
                              </span>

                            </ion-col>
                          </ion-row>
                        </ion-grid>


                      </mat-card-actions>
                    </mat-card>
                  </ion-col>
                  <ion-col size="12">
                    <h4 class="n-found" *ngIf="projects?.length == 0">
                      Aucun résultat de recherche
                    </h4>
                  </ion-col>

                </ion-row>
              </ion-grid>

            </mat-tab>
            <mat-tab label="Boutiques">
              <ion-grid>
                <ion-row>
                  <ion-col size="6" *ngFor="let lt of products;trackBy: trackByFn ">
                    <mat-card class="example-card">
                      <mat-card-header>
                      </mat-card-header>
                      <img [src]="lt?.photo" alt="">

                      <mat-card-content style="background: rgba(255, 255, 255, 0);">
                      </mat-card-content>
                      <mat-card-actions>
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <div class="round-img-post2">
                                {{lt?.prenom | slice:0:1| uppercase}} {{lt?.nom | slice:0:1 | uppercase}}
                              </div>
                            </ion-col>
                            <ion-col>
                              <strong>
                                {{lt?.user.pseudoPro}}
                              </strong>
                              <small>
                                {{lt?.circle || '' }}
                              </small>
                              <span class="time"
                                *ngIf="(time(lt?.createdAt) != 'il y a une heure') ||(time(lt?.createdAt) == 'il y a un an') || (time(lt?.createdAt) == 'il y a un mois') || (time(lt?.createdAt) == 'il y a une semaine') || (time(p?.createdAt) == 'il y a un jour') ">
                                {{time(lt?.createdAt) }}
                              </span>
                              <span class="time" *ngIf="time(lt?.createdAt) == 'il y a une heure'">
                                il y a 1 heure
                              </span>
                              <span class="time" *ngIf="time(lt?.createdAt) == 'il y a un jour'">
                                il y a 1 jour
                              </span>

                            </ion-col>
                          </ion-row>
                        </ion-grid>


                      </mat-card-actions>
                    </mat-card>
                  </ion-col>
                  <ion-col size="12">
                    <h4 class="n-found" *ngIf="products?.length == 0">
                      Aucun résultat de recherche
                    </h4>
                  </ion-col>

                </ion-row>
              </ion-grid>


            </mat-tab>
          </mat-tab-group>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>