
video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

.input-s[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #e9565c;
    color: #a0d18c;
    width: 315px;
    height: 48px;
    padding-left: 10px;
    margin-top: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }



.input-s[type=text]:focus {
     outline: none;
     border: 1px solid #a0d18c;
     color: #e9565c;
}

.search-icon{
  float: right;
  position: relative;
  margin-top: -36px;
  margin-right: 25px;
}


h4{
  text-align: center;
  color: #e9565c;
}

.pseudo-txt{
  text-align: start;
  margin-left: 5px;
}

.round-img-post{
    height: 47px;
    width: 47px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: solid 1px #ea4d4f;
    padding-top: 16px;
    text-align: center;
    font-size: 13px;
    display: block;
    margin-left: 8px;
    margin-right: 12px;
    color: #000000;
  }

  .round-img-user{
    height: 47px;
    width: 47px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: solid 1px #ea4d4f;
    text-align: center;
    font-size: 13px;
    display: block;
    margin-left: 8px;
    margin-right: 12px;
    color: #000000;
  }


  .round-img-post2{
    height: 41px;
    width: 41px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    border: solid 1px #ea4d4f;
    padding-top: 13px;
    text-align: center;
    font-size: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}

.n-found{
    text-align: center;
    color: #e9565c;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom: 44px;
    font-size: revert;
}

label{
  margin-top: 19px;
    color: #4c2d2d;
    margin-left: 18px;
    margin-bottom: 23px;
}

.mat-content{
    height: 500px;
}

ion-title{
    color: #ea4e50;
}

.p-img{
    width: 16%;
    margin-right: 11px;
    border-radius: 26px;
    margin-top: -1px;
    border: solid 1px #ea4e50;
}
ion-content{
    color: #ea4e50 !important;

}

.cancel-btn{
  background: green;
  color: #fff;
}

ion-spinner{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
mat-list-item{
    margin-top: 21px;
    color: #ea4e50;

}

mat-divider{
    margin-top: 25px;
}

.example-button-container{
    float: right;
}

ion-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.p-seudo{
    color: #ea4e50;
    font-size: 20px;
    font-weight: 600;
    margin-left: 24px;
}
.example-full-width{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.example-form{
  margin-top: 16px;
}

.round-bg{
  background: #ea4e50;
  padding: 17px;
  border-radius: 25px;
  width: 46px;
  margin-right: 29px;
  color: white;
  height: 49px;
}

.msg{
  height: 100%;
  margin-top: 15px;
  width: 100%;
}


// mes teepz cards start

.img-teepz{
  width: 56px;
border-radius: 213px;
height: 36px;
border: solid 1px #ea4d4f;
}
.time{
font-size: 10px;
}
mat-card{
    border-radius: 40px;
    height: 100%;
}
mat-card-actions{
display: inline-flex;
}
.mat-p{
padding: 7px;

}
mat-card-content{
background: bisque;
padding: 16px;
width: 155px;
margin-left: -17px;
margin-top: -16px;
border-radius: 29px 29px 1px 1px;
height: 200px;

}

.feed-card-content{
  background: bisque;
  padding: 16px;
  width: 165px;
  margin-left: -17px;
  margin-top: -16px;
  border-radius: 29px 29px 1px 1px;
  height: 200px;
  
}

// project start css

.projet-img{
    border-radius: 23px;
    box-shadow: 1px 1px 4px 2px #00000087;
}
.text-over{
    background: #edf9f9;
    border-radius: 20px;
    text-align: center;
    padding: 9px;
    margin-top: -66px;
    width: 82%;
    display: block;
    margin-left: 10px;
    position: absolute;
}



// modal

/* [Object] Modal
 * =============================== */
 .modal {
    z-index: 2000;
      opacity: 0;
      visibility: visible;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: left;
      opacity: 1;
      transform: scale(1);
      transition: opacity .5s, transform .5s;
      background: rgba(0,0,0, .9);
    }

    .alert-header{
        width: 308px;
        margin-top: 37px;
        text-align: center;
        margin-left: -19px;
    }
    
    .modal__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
    }
    
    .modal-state {
      display: none;
    }
    
    .modal-state:checked + .modal {
      visibility: visible;
      opacity: 1;
      height: 100%;
  
    }
    
    .modal-state:checked + .modal .modal__inner {
      top: 0;
    }
    
    .modal__inner {
      transition: top .25s ease;
      position: absolute;
      top: 2%;
      right: 0;
      bottom: 0;
      left: 0;
      width: 92%;
      margin: auto;
      overflow: auto;
      background: #fff;
      border-radius: 27px;
      padding: 1em 2em;
      height: 32%;
    }
    
    .modal__close {
      position: absolute;
      right: 1em;
      top: 1em;
      width: 1.1em;
      height: 1.1em;
      cursor: pointer;
    }
    
    .modal__close:after,
    .modal__close:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 1.5em;
      background: #ccc;
      display: block;
      transform: rotate(45deg);
      left: 50%;
      margin: -3px 0 0 -1px;
      top: 0;
    }
    
    .modal__close:hover:after,
    .modal__close:hover:before {
      background: #aaa;
    }
    
    .modal__close:before {
      transform: rotate(-45deg);
    }
   