<ion-content [fullscreen]="true">
  <ion-img class="img-bg"  src="{{srcV}}" alt="image" ></ion-img>
  <ion-icon  (click)="dismiss()" color="light"  style="width: 40px; height: 40px; float: right; right: 0; margin: 10px; position: absolute; z-index: 100;" name="close-outline"></ion-icon>
</ion-content>
<ion-footer class="ion-no-border">
  <form #newForm="ngForm" >
  <ion-grid>
      <ion-row>
          <ion-col size="10"><ion-item>
            <!--ion-label [hidden]="postText.errors?.required || postText.errors?.maxlength" position="floating" color="light">Texte du post</ion-label-->
            <ion-label *ngIf="
            postText.invalid &&
            (postText.dirty || postText.touched)
          " position="floating"  color="danger">Texte du post est requis</ion-label>
            <ion-label position="floating" *ngIf="
            postText.invalid &&
            (postText.dirty || postText.touched)
          "  color="danger">Pas plus de 130 caractères</ion-label>
            <ion-input type="text"
            color="light"
            name="postText"
            [(ngModel)]="poste.content"
            class="form-control"
            maxlength="130"
            placeholder="Texte de la publication"
            required
            #postText="ngModel"></ion-input>
          </ion-item></ion-col>
          <ion-col size="2"> <ion-button [disabled]="postText?.errors?.required || postText?.errors?.maxlength" type="submit" color="sub" 
            (click)="uploadBase64File()"
            id="submit">
            <ion-spinner *ngIf="loading" color="primary" name="dots"></ion-spinner>
            <ion-icon *ngIf="!loading" slot="icon-only" name="send"></ion-icon>
          </ion-button></ion-col>
      </ion-row>
  </ion-grid>
  </form>
</ion-footer>
