<ion-content class="permission-content">
  <ion-grid>
    <ion-row class="permission-header">
      <ion-col colSize="12" class="text-center">
        <h2>{{ 'PERMISSION_TEXT1' | translate }}</h2>
      </ion-col>

      <ion-col colSize="12" class="description">
        <p>{{ 'PERMISSION_TEXT2' | translate }}</p>
      </ion-col>
    </ion-row>

    <ion-row class="permission-info">
      <ion-col colSize="12" class="info-image">
        <img src="../../assets/information.png" alt="Permissions Information" />
      </ion-col>

      <ion-col colSize="12" class="permission-details">
        <p>{{ 'PERMISSION_TEXT3' | translate }}</p>
        <p>{{ 'PERMISSION_TEXT4' | translate }}</p>
        <p>{{ 'PERMISSION_TEXT5' | translate }}</p>
        <p>{{ 'PERMISSION_TEXT6' | translate }}</p>
      </ion-col>
    </ion-row>

    <ion-row class="permission-disclaimer">
      <ion-col colSize="12" class="disclaimer-text">
        <p>
          {{ 'PERMISSION_TEXT7' | translate }}
          <a routerLink="/privacy"> {{ 'POLICY_TEXT' | translate }} </a>
          {{ 'AND_OUR' | translate }}
          <a routerLink="/conditions"> {{ 'CONDITIONS_TEXT' | translate }} </a>
          {{ 'PERMISSION_TEXT8' | translate }}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button
    (click)="requestPermissions()"
    expand="full"
    class="button login__submit"
    shape="round"
    style="width: 100%"
  >
    <span class="button__text"> {{ 'CONTINUE' | translate }}</span>
    <ion-icon name="chevron-forward-outline" class="button__icon"></ion-icon
  ></ion-button>
</ion-footer>
