h2 {
  text-align: center;
  color: #5d54a4;
}

p {
  width: 86%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}
img {
  width: 24%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
}
