<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{'NOTIFICATIONS_TEXT_TITLE'| translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="txt"> {{'ACTIVATE_NOTIFICATION'| translate}} </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>{{'FRIEND_SUGGEST'| translate}}</h5>
          <p>{{'RECEIVE_TEXT1'| translate}}</p>
        </div>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>Invitations</h5>
          <span>
            <ion-toggle
              [(ngModel)]="n2"
              name="n2"
              (click)="authInvitationOrNot()"
              color="primary"
            ></ion-toggle>
          </span>
          <p>{{'RECEIVE_TEXT2'| translate}}</p>
        </div>

        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>{{'ADD_TO_CHAT_TEXT'| translate}}</h5>
          <span>
            <ion-toggle
              [(ngModel)]="n"
              name="n"
              (click)="authConversationOrNot()"
              color="primary"
            ></ion-toggle>
          </span>
          <p>{{'RECEIVE_TEXT3'| translate}}</p>
        </div>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
