<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Réglages de Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="txt">
          Activer les Notifications
        </span>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>Suggestions d'amis</h5>
          <p>
            Recevez de temps en temps des Notifications pour vous suggérer de nouveaux amis
      
          </p>
        </div>
        <mat-divider></mat-divider>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>Invitations</h5> <span>
            <ion-toggle [(ngModel)]="n2" name="n2" (click)="authInvitationOrNot()" color="primary"></ion-toggle>
          </span>
          <p>
            Recevez des Notifications lorsque vous avez une Invitations à rejoindre un cercle d'amis

          </p>

        </div>

        <mat-divider></mat-divider>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h5>Ajout à une conversation</h5>   
            <span>
            <ion-toggle [(ngModel)]="n" name="n" (click)="authConversationOrNot()" color="primary"></ion-toggle>
          </span>
          <p>
            Recevez des Notifications lorsque vous êtes ajoutés à une conversation

          </p>
     
        </div>
        <mat-divider></mat-divider>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>