.content{
    background-color: #F0EFEF;
}
.close-icon{
    float: right;
    margin-top: -27px;
    margin-right: 26px;
    font-size: 29px;
    color: #ea4e50;
}

ion-title{
    text-align: center;
}
img{
    border-radius: 54px;
    border: solid 2px #ea4e50;
}


/*ion-modal{
    height: 344px;
    bottom: 0;
    border-radius: 39px 45px 1px 1px;
}*/

ion-title{
    color: #ea4e50;
}
ion-toolbar{
    height: 68px;
    margin-bottom: -22px;
}

img{
    border-radius: 54px;
    border: solid 2px #ea4e50;
    

}


.check-btn{
    margin-top: -46px !important ;

}

.img-match{
    width: 16%;
    border-radius: 54px;
    height: 49px;
    border: solid 2px #ea4e50;
    margin-right: 15px;
    margin-bottom: 18px;

}

ion-slides{
    height: -webkit-fill-available;
}
ion-slide{
    border-radius: 40px 40px 1px 0px;
    height: auto
}

mat-card-header{
    margin-top: 24px !important;
}
.material-icons{
    color: #ea4e50;
}

.cancel-btn{
    width: 100%;
    position: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.match-img{
    position: absolute;
    float: left;
    width: 70%;
    bottom: 57px;
    display: flex;
    color: #ea4e50;
    font-size: 12px;

}

mat-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mat-img{
    width: 121px;
    border-radius: 21px;
    height: 100%;
}
.mat-res{
    background: aliceblue;
    border-radius: 8px;
    padding: 19px;

}
mat-card-title, mat-card-subtitle{
    margin-top: -7px;

}
mat-card-title{
    font-size: 19px;
    font-weight: 600;
}
.comment-form{
    border-radius: 0px;
    bottom: 0;
    position: fixed;
    top: auto;
    height: 93px;
    width: 100%;
}


.btn-icon{
    margin-right: 13px;
}

mat-icon{
    color: #ea4e50;
}

.actions{
    display: grid;
    margin-bottom: -117px;
}


ion-icon{
    color: #ea4e50;
}

strong , small{
    font-size: 17px;
    margin-left: -58px;
}


.comment-profile{
    height: 100%;
}

.mat-form-field{
    position: fixed;
    display: block;
    width: 72%;
    margin-top: -85px

}

.mat-form-field2{
         position: fixed; 
        display: block;
        width: 91%;
         margin-top: 0;
}

.ion-textarea{
    width: 89%;
    background: blanchedalmond;
    border-radius: 31px;
}

.ion-textarea2{
    width: 70%;
    background: blanchedalmond;
    border-radius: 31px;
}
.cmt{
    width: 100%;
    margin-left: 6px;
    background: #f0efef;
    border-radius: 0px;
    box-shadow: none;
}

.cmt2{
    width: 332px;
    margin-left: 8px;
    background: #f0efef;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 7px;
}
ion-button{
    float: right;
    margin-top: -52px;
    width: 31%;
    margin-right: -5px;
}




ion-grid{
    position: relative;
    bottom: 0;
    background: #f0efef;
}





.star-btn{
    float: right;
    margin-top: -66px;

}

.answers{
    color: #908A8A;
}


