<ion-content color="success" class="content" style="background-color: #F0EFEF;"
           
>
  <ion-refresher slot="fixed" (ionRefresh)="closeModalOnSwipeDown($event)">
    <!--ion-refresher-content></ion-refresher-content-->
  </ion-refresher>
  <div>
    <ion-header class="ion-no-border">
      <ion-toolbar color="success">
        <ion-title> {{listComments?.length || '0' }} Commentaire <span style="margin-left: -5px;"
            *ngIf="listComments?.length > 1">s</span> </ion-title>
        <ion-icon (click)="dismiss()" class="close-icon" name="close-outline"></ion-icon>
      </ion-toolbar>
    </ion-header>

    <ion-grid color="success">
      <ion-row>
        <ion-col size="12">

          <mat-card *ngFor="let c of listComments?.reverse();trackBy: trackByFn " class="example-card cmt">
            <mat-card-header>
              <div mat-card-avatar>
                <img *ngIf="c?.userPhoto_url" mat-card-image class="mat-img" [src]="c?.userPhoto" alt="">
                <div *ngIf="c?.userPhoto_url == null || c?.userPhoto_url == '' " class="round-img">
                  {{c?.userPseudo | slice:0:1| uppercase}}
                </div>

              </div>


              <mat-card-title>{{c?.userPseudo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="content-comment">
                {{c?.comment}}
              </p>
              <!--button class="btn-icon star-btn" mat-button aria-label="Example icon button with a home icon">
                <ion-icon name="star-outline"></ion-icon>
              </button-->
            </mat-card-content>
            <mat-card-actions>

              <button (click)="getCommentsOfComment(c?._id)" class="btn-icon answers" mat-button
                aria-label="Example icon button with a home icon">
                Voir les réponses( {{ listCommentsOfComment?.length || '0' }} )
              </button>
            </mat-card-actions>
            <div *ngIf="showResponsePanel">
              <div *ngFor="let cc of listCommentsOfComment?.reverse();trackBy: trackByFn ">
                <div *ngIf="cc?.commentId == c?._id" class="mat-res" style="display: inline-flex;">
                  <div mat-card-avatar>
                    <img mat-card-image *ngIf="cc?.userPhoto_url != null " class="mat-img" [src]="cc?.userPhoto" alt="">
                    <div *ngIf="cc?.userPhoto_url == null " class="round-img">
                      {{cc?.userPseudo | slice:0:1| uppercase}}
                    </div>
                  </div>
                  <mat-card-title style="margin-left: 17px;">{{cc?.userPseudo}}</mat-card-title><br>
                  <div>
                    {{cc?.comment}}
                  </div>

                </div>
              </div>

              <div *ngIf="listCommentsOfComment?.length == 0" style="text-align: center;">
                Aucune réponse
              </div>
            </div>
            <span *ngIf="showResponsePanel" style="display: flex;margin-top: 16px;">
              <!-- Textarea in an item with a placeholder -->
              <ion-item class="ion-textarea2">
                <ion-textarea matInput name="commentCc" required #commentCc="ngModel" [(ngModel)]="commentC.comment"
                  placeholder="Répondre..."></ion-textarea>
              </ion-item>
              <button (click)="addCommentToComment()" [disabled]="commentCc.errors?.required"
                style="font-size: 30px;margin-right: -5px;" mat-button>
                <ion-icon name="send-outline"></ion-icon>
              </button>
            </span>
          </mat-card>

        </ion-col>
      </ion-row>
    </ion-grid>



    <div *ngIf="listComments?.length == 0" style="margin-top: 112px;text-align: center;">
      Aucun Commentaire pour ce post
    </div>

    <!--div class="fixContainer">
      <mat-card class="comment-form">
        <div class="form-wrapper">
          <!-- Textarea in an item with a placeholder --
          <ion-item class="ion-textarea2">
            <ion-textarea matInput name="comment" required #comment="ngModel" [(ngModel)]="commentT.comment"
              placeholder="Commenter..."></ion-textarea>
          </ion-item>
          <ion-button (click)="addCommentToPost()" size="small" [disabled]="comment.errors?.required" expand="block"
            shape="round">Envoyer</ion-button>
        </div>
      </mat-card>
    </div-->



  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">

      <ion-col size="9">
        <ion-item no-lines>
          <ion-input type="text" placeholder="Ajouter un commentaire" name="comment" required #comment="ngModel"
            [(ngModel)]="commentT.comment"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <button ion-button clear color="primary" class="send-btn" (click)="addCommentToPost()" size="small"
          [disabled]="comment.errors?.required">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>