<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-title>
      {{listComments?.length || '0' }} {{'COMMENT'|translate}}
      <span style="margin-left: -5px" *ngIf="listComments?.length > 1">s</span>
    </ion-title>
    <ion-icon
      (click)="dismiss()"
      class="close-icon"
      name="close-outline"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="success" class="content" style="background-color: #f0efef">
  <div>
    <ion-grid color="success">
      <ion-row>
        <ion-col>
          <ion-spinner
            *ngIf="loading && listComments?.length === 0"
            color="primary"
            name="dots"
            style="display: block; margin-right: auto; margin-left: auto"
          ></ion-spinner>
        </ion-col>
        <ion-col size="12">
          <mat-card
            *ngFor="let c of listComments;trackBy: trackByFn "
            class="example-card cmt"
          >
            <mat-card-header>
              <div mat-card-avatar>
                <img
                  *ngIf="c?.userPhoto"
                  mat-card-image
                  class="mat-img"
                  [src]="c?.userPhoto"
                  alt=""
                />
                <div
                  *ngIf="c?.userPhoto == null || c?.userPhoto == '' "
                  class="round-img"
                >
                  {{c?.userPseudo | slice:0:1| uppercase}}
                </div>
              </div>

              <mat-card-title>{{c?.userPseudo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p [innerHTML]="c?.comment | linkify" class="content-comment"></p>
            </mat-card-content>
            <mat-card-actions>
              <button
                (click)="getCommentsOfComment(c?._id)"
                class="btn-icon answers"
                mat-button
                aria-label="Example icon button with a home icon"
              >
                Voir les réponses( {{ c?.listCommentsOfComment || 0 }} )
              </button>
            </mat-card-actions>
            <div>
              <div
                *ngFor="let cc of listCommentsOfComment;let i = index;trackBy: trackByFn "
              >
                <div *ngIf="cc?.commentId == c?._id" class="mat-res">
                  <div mat-card-avatar>
                    <img
                      mat-card-image
                      *ngIf="cc?.userPhoto"
                      class="mat-img"
                      [src]="cc?.userPhoto"
                      alt=""
                    />
                    <div
                      *ngIf="cc?.userPhoto == null || cc?.userPhoto == '' "
                      class="round-img"
                    >
                      {{cc?.userPseudo | slice:0:1| uppercase}}
                    </div>
                  </div>
                  <mat-card-title class="res-cmt-pseudo"
                    >{{cc?.userPseudo}}</mat-card-title
                  >
                  <br />
                  <div
                    [innerHTML]="cc?.comment | linkify"
                    style="margin-left: 43px"
                  ></div>
                </div>
              </div>
            </div>
          </mat-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div
      *ngIf="listComments?.length == 0 && !loading"
      style="margin-top: 112px; text-align: center"
    >
      {{'NO_COMMENT'|translate}}
    </div>

    <!--div class="fixContainer">
      <mat-card class="comment-form">
        <div class="form-wrapper">
          <!-- Textarea in an item with a placeholder --
          <ion-item class="ion-textarea2">
            <ion-textarea matInput name="comment" required #comment="ngModel" [(ngModel)]="commentT.comment"
              placeholder="Commenter..."></ion-textarea>
          </ion-item>
          <ion-button (click)="addCommentToPost()" size="small" [disabled]="comment.errors?.required" expand="block"
            shape="round">Envoyer</ion-button>
        </div>
      </mat-card>
    </div-->
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row *ngIf="!showResponsePanel" class="message_row">
      <ion-col size="9">
        <ion-item no-lines>
          <ion-textarea
            #myInput
            cols="20"
            type="text"
            [placeholder]="'ADD_COMMENT'|translate"
            name="comment"
            required
            #comment="ngModel"
            rows="15"
            cols="60"
            [(ngModel)]="commentT.comment"
            autosize
          >
          </ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <button
          ion-button
          clear
          color="primary"
          class="send-btn"
          (click)="addCommentToPost()"
          size="small"
          [disabled]="comment.errors?.required"
        >
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="showResponsePanel">
        <span style="display: flex; margin-top: 16px">
          <!-- Textarea in an item with a placeholder -->
          <ion-item class="ion-textarea2">
            <ion-textarea
              matInput
              name="commentCc"
              required
              #commentCc="ngModel"
              [(ngModel)]="commentC.comment"
              placeholder="'ANSWER_COMMENT'|translate"
            ></ion-textarea>
          </ion-item>
          <button
            (click)="addCommentToComment()"
            [disabled]="commentCc.errors?.required"
            style="font-size: 30px; margin-top: -36px"
            mat-button
          >
            <ion-icon name="send-outline"></ion-icon>
          </button>
        </span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
